[2019-11-22 12:22] mir-am opened #3 "Files without documentation"
This is a list of files without documentation, which helps us find the files and improve their docs.
I can also help with the documentation.

- https://github.com/fasten-project/fasten/blob/b0421f2d3360c7a528defbd608baeedd3bd2b15b/core/src/main/java/eu/fasten/core/query/Query.java#L7

- https://github.com/fasten-project/fasten/blob/b0421f2d3360c7a528defbd608baeedd3bd2b15b/core/src/main/java/eu/fas

[2020-02-15 15:41] mir-am opened #7 "NullPointerException when generating the JSON string of the call graph of a specific Maven coordinate"
The following Maven coordinate produces an unhandled NullPointerException:
[code]
The stack trace for the issue is as follows:
[code]
I temporarily patched the issue in 0b47f9e0aa492d9a01cab452525f041f7c2e3fb4 by adding a null pointer check in `toListOfString` method. The issue is that the FASTEN URIs of a type's methods are null and causes the described issue. I think that we should investigate t

[2020-04-06 11:44] MihhailSokolov opened #16 "Merge Indexer and Metadata Plugin"
Unite Indexer and Metadata Plugin into Database Plugin which consumes ERCG from Kafka, then puts it into metadata database (PostgreSQL) and using obtained indexes puts the graph into graph database (RocksDB).
1) Refactor `MetadataPlugin` to have a `KnowledgeBase` instance and all required indexes from PostgreSQL
2) Refactor `KnowledgeBase` to receive all indexes and use them instead of generating

[2020-04-27 13:51] #16 closed

[2020-04-30 10:14] gousiosg opened #23 "Wrong uniqueness constraint for `callables` table"
I think the uniqueness constraints for table `callables` is wrong. Let's take
callable 331721314 (current Java database) and see some info for it:

[code]

This corresponds to the following code: https://github.com/neo4j/neo4j/blob/3.5/community/graph-algo/src/main/java/org/neo4j/graphalgo/impl/shortestpath/Dijkstra.java#L223

Then, we take the edges:

[code]

Node 16485 corresponds to line 227. N

[2020-04-30 19:48] #23 closed

[2020-06-08 13:57] tmortagne opened #29 "Getting org.dom4j.InvalidXPathException when trying to generate org.slf4j:slf4j-api:1.7.29 call graph"
version: [#4ee04b4321830d41d61dc93ab2e290026469411f](https://github.com/fasten-project/fasten/tree/4ee04b4321830d41d61dc93ab2e290026469411f) (May 22, 2020)

Built with Java 11.0.7 with `mvn install`.

I execute the command given as example in the [README file](https://github.com/fasten-project/fasten/tree/4ee04b4321830d41d61dc93ab2e290026469411f/analyzer/javacg-wala#examples) and get the following

[2020-06-08 15:58] tmortagne opened #30 "Allow passing a custom maven repository to javacg analyzers"
javacg-wala and javacg-opal used a hardcoded `https://repo.maven.apache.org/maven2/` for the repository when passing coordinates.

Would be very useful to allow passing an list of alternative Maven repositories to look at to find the artifact and its dependencies.

[2020-06-08 19:50] ashkboos commented on #29
This is because when we want to build the generator plugins inside the plugin folder it can not find the dependencies that are declared in the base analyzer or server plugin. If we do `mvn install` in the parent it does the job, but inside each plugin we have to manually add those dependencies each time. Do you know any alternative other than manually adding those dependencies?

[2020-06-09 14:13] tmortagne commented on #29
@ashkboos so it looks like this problem is caused by some weird use of `<scope>provided</provided>` (none of them really make sense to me since they make some of the modules pretty much unusable as dependency and they cause conflicts which are what seems to loose Maven) and cleaning them seems to be enough to fix the problem.
Also IMO none of the parent pom should contain <dependencies>, I underst

[2020-06-10 09:05] tmortagne opened #31 "javagc-wala fails with xwiki-platform-filter-event-model-12.4.jar"
Command used: `java -jar javacg-wala-0.0.1-SNAPSHOT-with-dependencies.jar -jre /media/DATA/utils/jdk8 -f xwiki-platform-filter-event-model-12.4.jar -o .`

The jar can be found on https://nexus.xwiki.org/nexus/content/repositories/public/org/xwiki/platform/xwiki-platform-filter-event-model/12.4/xwiki-platform-filter-event-model-12.4.jar.

Log:

[code]

/media/DATA/utils/jdk8 leads to Java 1.8.0_252

[2020-06-10 15:02] tmortagne opened #32 "javagc-wala does not seems to take into account the -jre parameter"
Command: `java -jar javacg-wala-0.0.1-SNAPSHOT-with-dependencies.jar -jre /media/DATA/utils/jdk8 -c org.xwiki.commons:xwiki-commons-collection:12.4 -o .`

The command work fine and produce an accurate JSON file but it also log the following warning:

This seems to suggest that the -jre parameter was not really taken into account and that it instead tried some hardcoded test path.

[2020-07-03 11:33] MagielBruntink opened #36 "3 tests for fasten-core fail on Windows 10"
$ mvn install

"%HOME%" in the following should be read as user's homedir.

Tests in error:
`
testMediumIndex(eu.fasten.core.index.IndexerTest): Unable to delete file: %HOME%\AppData\Local\Temp\Indexer8430612523326898716\LOCK

testSmallIndex(eu.fasten.core.index.IndexerTest): Unable to delete file: %HOME%\AppData\Local\Temp\Indexer10475225208700705875\LOCK

testLargeIndex(eu.fasten.core.index.Inde

[2020-07-07 20:07] #36 closed

[2020-07-07 20:08] MihhailSokolov commented on #36
It is now fixed on master. Thanks for pointing it out!

[2020-07-17 09:56] MagielBruntink opened #38 "javacg-opal: mvn install has test failures on Windows 10"
JAVA_HOME is set c:/Program Files/OpenJDK/openjdk-11.0.7_10

Please see trace attached.
[trace.txt](https://github.com/fasten-project/fasten/files/4937010/trace.txt)

[2020-07-21 09:34] MagielBruntink opened #39 "Docker: NPE running docker.pkg.github.com/fasten-project/fasten/fasten.server:latest"
Command: `$ ~/repos/fasten $ docker run --network="host" --log-opt max-size=1g -d docker.pkg.github.com/fasten-project/fasten/fasten.server:latest -k localhost:30001`

Log, NPE at line 255:
[log.txt](https://github.com/fasten-project/fasten/files/4952738/log.txt)

[2020-07-21 09:59] MagielBruntink commented on #39
OK, figured out that the docker hub images are not the ones to use. Sorry.

[2020-07-27 21:06] ilyagrishkov commented on #7
New version of OPAL (V3) throws a BytecodeProcessingFailedException, because one method has an unknown access flag.
We cannot fix it.

[2020-07-27 21:06] #7 closed

[2020-07-27 21:16] ilyagrishkov commented on #32
You're right, there was a problem with changing the path to JRE. `-jre` is no longer a parameter for Wala plugin.
Note: Wala is no longer a module of Fasten. A standalone version of Wala can be found here: https://github.com/fasten-project/javacg-wala

[2020-07-27 21:16] #32 closed

[2020-07-27 21:26] ilyagrishkov commented on #30
New version of MavenCoordinate allows to pass a list of repos. If nothing is passed, `https://repo.maven.apache.org/maven2/` will be used by default.

[2020-07-27 21:26] #30 closed

[2020-07-28 08:35] ilyagrishkov commented on #38
We have updated OPAL plugin and also created new tests for it. Could you run `mvn install` once again to see if it works now?

[2020-07-28 08:53] tmortagne commented on #32
Great news :)

[2020-07-30 15:38] #29 closed

[2020-07-30 15:43] ilyagrishkov commented on #29
We have cleaned pom.xml files across the entire project, so now there should be less dependency problems. The only dependencies that are coming from parent modules are test related ones (jUnit, Mockito) as well as dependencies for the logger. Those are universal for every single module of the project, so it made sense to put them into the root pom.xml. Other that that, modules now have their own d

[2020-08-06 09:46] marcomicera opened #47 "Some metadataDB tests mock their target functions in their entirety"
As an example, the following test
https://github.com/fasten-project/fasten/blob/b674bd3155950fba9c2a7bed2816cce7855e3974/core/src/test/java/eu/fasten/core/data/metadatadb/MetadataDaoTest.java#L89-L117

mocks the entire behavior of its target function:
https://github.com/fasten-project/fasten/blob/b674bd3155950fba9c2a7bed2816cce7855e3974/core/src/main/java/eu/fasten/core/data/metadatadb/MetadataDao

[2020-08-06 10:22] MihhailSokolov commented on #47
I agree that these tests are quite useless as they mock the complete behavior of target functions. The only their use is to basically double-check that queries are correct, however, it makes it quite hard to maintain them as you'd need to rewrite a lot of big tests whenever you change a query. I guess I will delete them if nobody minds.
I also looked into the [article](https://blog.jooq.org/2013/0

[2020-08-12 19:56] ilyagrishkov opened #52 "Performance measure for plugins"
## Is your feature request related to a problem? Please describe.
There is no simple way to measure performance of plugins as the only timestamp available in plugin output messages corresponds to the time the record was produced, but not when the input record was consumed.

## Describe the solution you'd like
A simple solution to the problem would be adding a field to the output and error messages

[2020-08-13 12:13] ilyagrishkov commented on #52
Added `consumed_at` field to output messages.

[2020-08-13 12:13] #52 closed

[2020-08-13 13:28] ilyagrishkov opened #54 "Release the project on Maven"
## Is your feature request related to a problem? Please describe.
It's currently impossible to have dependencies on some modules of the project from outside the project. E.g. WALA and OPAL v1 call graph generators are in different repositories and both of them need a dependency on the FASTEN core. Having FASTEN released on Maven would allow to have those dependencies.

## Describe the solution you

[2020-08-13 15:34] ilyagrishkov opened #55 "Switching to fastutil in the OPAL plugin"
## Is your feature request related to a problem? Please describe.
Processing some artifacts with OPAL plugin causes OutOfMemoryError during external cha generating process.

## Describe the solution you'd like
Using data structures with a small memory footprint and fast access (e.g. [fastutil](http://fastutil.di.unimi.it)) might help.

## Additional context
No additional context

[2020-08-14 12:12] cg122 opened #56 "Nested "input" field in Kafka topic 'fasten.RepoCloner.out'"
The 'fasten.RepoCloner.out' topic has nested "input" field from its dependended topic 'fasten.POMAnalyser.out'. Should only include contents in the "payload" field from topic 'fasten.POMAnalyser.out'.

[code]

[2020-08-15 09:09] ilyagrishkov commented on #56
This is by design. Every message includes the entire history of the pipeline. Hence the message of RepoCloner includes the entire output message of POMAnalyzer, which in term includes the Maven coordinate as its input.

It's an open issue for us, and we will be taking a second look at it. For now it doesn't break the code (the worst case scenario is messages becoming to big for Kafka, which can ea

[2020-08-15 09:29] ilyagrishkov opened #57 "Improve error handling in OPAL plugin"
## Is your feature request related to a problem? Please describe.
Currently it's impossible to differentiate between cases when an artifact couldn't be found in the Maven repository and when an artefact couldn't be written/read from the filesystem or any other similar type of error

## Describe the solution you'd like
Make OPAL throw FileNotFoundException when an artifact couldn't be found on Mave

[2020-08-17 09:31] cg122 commented on #56
Fair enough explanation, just did not see this in the 'Kafka Topics' wiki page. This design choice could also be documented there.

[2020-08-17 09:34] ilyagrishkov commented on #56
Thanks for pointing it out. I'll document it on the wiki page.

[2020-08-17 13:01] MihhailSokolov opened #58 "Improve RepoCloner"
## Is your feature request related to a problem? Please describe.
* Plugin does not report any errors, even though they do happen.
* Partners asked to copy `commitTag` and `sourcesUrl` from the output of POM Analyzer to the output of RepoCloner.

## Describe the solution you'd like
* Error handling should be improved
* Plugin should produce `commitTag` and `sourcesUrl` along with `repoPath` and ma

[2020-08-18 09:41] cg122 commented on #58
I also found that if repo is not available, 'repoPath' field is not included in the generated message. Could it be better to include the field(key) with empty value (like "repoPath" : " ")?

[2020-08-18 09:52] MihhailSokolov commented on #58
Yes, will do. Thanks for noticing.

[2020-08-19 08:15] #47 closed

[2020-08-19 11:11] ilyagrishkov opened #60 "RepoCloner tests failing"
## Describe the bug
Two Repo Cloner tests fail as the repository used in those tests no longer exists.
Filing tests:
- HgClonerTest.cloneRepoTest()
- HgClonerTest.cloneRepoWithVersionTest()

## To Reproduce
Steps to reproduce the behavior:
1. Checkout `develop` branch
2. Run `mvn install` or manually run those tests

## Expected behavior
Tests passing

## Logs
No logs

## Environment (please compl

[2020-08-20 13:54] #58 closed

[2020-08-20 13:54] #60 closed

[2020-08-20 14:15] MihhailSokolov opened #62 "Switching to fastutils in the metadata plugin"
## Is your feature request related to a problem? Please describe.
Generated call graphs are quite big and inserting them into the database takes quite some time.

## Describe the solution you'd like
Using data structures with fast access (e.g. [fastutil](http://fastutil.di.unimi.it)) might help to improve the performance.

## Additional context
No additional context

[2020-08-24 20:35] #62 closed

[2020-08-24 20:53] #57 closed

[2020-09-09 11:58] marcomicera opened #71 "Copy the "repoUrl" field in Kafka topic 'fasten..RepoCloner.out'"
## Is your feature request related to a problem? Please describe.
The [FASTEN QMSTR plugin](https://github.com/fasten-project/fasten/tree/endocode/compliancePlugin/analyzer/compliance-analyzer) needs the repository URL in order for the license and compliance analysis process to begin.
Currently, the `repoUrl` field is available in `fasten.POMAnalyzer.out` under `input`: this represents a problem a

[2020-09-09 15:05] #71 closed

[2020-09-14 09:58] MihhailSokolov opened #72 "Rewrite POM Analyzer to use proper MavenResolver"
## Is your feature request related to a problem? Please describe.
Currently, everything in POM Analyzer is extracted by manually inspecting the POM files of the artifact and its parents. Since everything is done manually, it might not be as precise and correct as it should be.

## Describe the solution you'd like
Using a proper [MavenResolver](https://github.com/shrinkwrap/resolver) would greatly

[2020-09-17 11:32] marcomicera opened #74 "Wiki uses mvn-crawler Docker image"
The [Development Environment wiki page](https://github.com/fasten-project/fasten/wiki/Development-Environment) makes use of the [`mvn-crawler`](https://github.com/fasten-project/mvn-crawler/commits/master) Docker image in its step-by-step guide.\
Yet, its Dockerfile has been removed in https://github.com/fasten-project/mvn-crawler/commit/0ea00f8190dab8d5d65a0d9794916e49825dce6b#diff-1eef4e1e3eb8b9

[2020-09-17 17:27] mir-am commented on #74
Thanks for pointing out the inconsistency in the wiki page. I have updated the development page for installing and using the crawler.

[2020-09-18 07:11] marcomicera commented on #74
Nice, thanks!

[2020-09-18 07:11] #74 closed

[2020-09-21 07:47] cg122 opened #75 "Add 'release time' in the output topic of RepoCloner."
## Problem

Version tags may not be always available for the repository, so we will have problem to check out the right version of source code in this case. By adding the 'release time', it will allow some heuristic based checkout of the right version when tags are absent.

## Solution

Add 'release time' or any other useful information (not sure yet, if anyone has suggestions) to help checking ou

[2020-09-23 08:49] marcomicera opened #77 "Update 'repoUrl' field location in wiki"
The `repoUrl` field of the [`fasten.POMAnalyzer.*` Kafka topic](https://github.com/fasten-project/fasten/wiki/Kafka-Topics#fastenpomanalyzer) has been moved from `input` to `payload` in #71.
That wiki paragraph needs to be updated accordingly.

[2020-09-24 12:47] cg122 opened #79 "Add 'forge' field in the output topic of RepoCloner plugin"
## Problem

The code quality analyser needs the 'forge' information to decide the sub-process of code analysis.

## Solution

Add 'forge' field in the output topic of RepoCloner plugin.

[2020-09-25 13:08] MihhailSokolov commented on #79
Done in #76

[2020-09-25 13:08] #79 closed

[2020-09-25 13:09] MihhailSokolov commented on #77
Updated, thanks for noticing

[2020-09-25 13:09] #77 closed

[2020-09-25 13:11] MihhailSokolov commented on #75
Added in #76 as `date`. [Wiki page](https://github.com/fasten-project/fasten/wiki/Kafka-Topics#fastenrepocloner) has also been updated accordingly

[2020-09-25 13:11] #75 closed

[2020-09-29 14:16] MihhailSokolov commented on #72
ShrinkWrap's MavenResolver doesn't provide any information about exclusions. So it probably easier to keep using the current code.

[2020-09-29 14:16] #72 closed

[2020-10-14 07:18] gousiosg opened #83 "Migrate package generation workflow to the new GitHub Container Registry"
The generated docker images are being published to `docker.pkg.github.com`. GitHub [deprecated](https://github.blog/2020-09-01-introducing-github-container-registry/) this endpoint. We need to migrate both the image generation actions and the deployment files to the new end point.

Instructions on how to do the migration can be found [here](https://docs.github.com/en/free-pro-team@latest/packages/

[2020-10-14 12:25] cg122 opened #84 "Add type of SCM for checking out source code in the output of RepoCloner"
## Problem
As there are multiple repo types of SCM (git, hg, svn, ...) used for storing the repository of maven project, it will be good to have information of which type of SCM associated with the 'repoPath'.

## Solution
Add 'repoType' field in the fasten.RepoCloner.out

[2020-10-14 14:46] marcomicera opened #85 "Retrieving edges from KB takes too long"
## Is your feature request related to a problem? Please describe.

#80 aims to implement the REST API to access the KnowledgeBase.
The [_edges_ endpoint](https://github.com/fasten-project/fasten/wiki/API-endpoints-for-Maven-projects#edges) `GET /mvn/packages/{pkg}/{pkg_ver}/edges` should return all incoming and outgoing edges of a given package version.

The only way to access those edges is throu

[2020-10-14 14:53] gousiosg commented on #85
I am not sure why you need to create an intermediate view. What is wrong with a simple join?

[code]

[2020-10-14 14:57] ilyagrishkov commented on #85
@gousiosg Are there any reasons why we wouldn't use graph database for it?

[2020-10-14 14:58] gousiosg commented on #85
Yes, the graph DB only contains ids, which will need to be resolved against the callables table as well

[2020-10-14 14:59] gousiosg commented on #85
I mean let's first try the simple solution and see if it works and then we can think of more elaborate schemes

[2020-10-15 08:19] marcomicera commented on #85
Nothing, my bad. Sorry for not seeing the already-existing multicolumn B-Tree index on `edges`.`source_id` and `edges`.`target_id`. If the [response body](https://github.com/fasten-project/fasten/wiki/API-endpoints-for-Maven-projects#edges) is correct (`edges.*`), then a single join will do the job. Sorry for the hassle.

[2020-10-15 08:25] #85 closed

[2020-10-15 13:43] marcomicera opened #86 "Few JOOQ queries (REST API) cause Jetty's idleTimeout"
## Describe the bug

This [endpoints table](https://github.com/fasten-project/fasten/wiki/API-endpoints-for-Maven-projects) includes the current status of every single endpoint.
The following endpoints use SQL queries that immediately return a result when executed from the PostgreSQL command line, but cause Jetty to timeout when executed with JOOQ:

- `/mvn/packages/{pkg}/versions`
- `/mvn/package

[2020-10-15 15:18] marcomicera opened #87 "REST API unit tests"
Endpoints are implemented in the [`eu.fasten.analyzer.restapiplugin.api.mvn.impl`](https://github.com/fasten-project/fasten/tree/kbapi/analyzer/restapi-plugin/src/main/java/eu/fasten/analyzer/restapiplugin/api/mvn/impl) package, where they all use methods of the [Metadata Data Access Object `MetadataDao.java`](https://github.com/fasten-project/fasten/blob/kbapi/core/src/main/java/eu/fasten/core/da

[2020-10-15 15:18] marcomicera opened #88 "REST API pagination"
This is how I see it:

| Method | Pros | Cons |
|-|-|-|
| **Limit-offset** | <ul><li>Simple</li><li>Universal</li></ul> | <ul><li>Result inconsistency</li><li>Inefficacy for high offset values</li></ul> |
| **Cursors** | <ul><li>Universal</li><li>Result consistency</li></ul> | <ul><li>Not scalable<ul><li>Memory</li><li>Locks</li></ul></li><li>Stateful</li></ul> |
| **Keyset pagination** | <ul><li>

[2020-10-16 07:04] gousiosg commented on #88
As our queries will be mostly reading from non-updating data, we don't need cursors as they will be complicating our lives in terms of session management (which we also don't need). If we can restrict our browsing on indexed columns, I 'd recommend we do keyset pagination and always return ordered results (which actually makes sense).

[2020-10-16 07:07] gousiosg commented on #86
This is because we don't have an index on `packages.name`, right?

[2020-10-16 12:27] marcomicera commented on #86
I cannot double-check it as the server seems to be down right now, but that wouldn't explain why those queries were executed immediately from the PostgreSQL cli.

There must be something going wrong with JOOQ, RESTeasy, or Jetty, I suppose...

[2020-10-16 12:44] marcomicera commented on #86
Ok now I see a multicolumn B-Tree index having `packages`.`package_name` as the leading (leftmost) column, hence being the most efficient one for that `WHERE` clause, so that's definitely not the issue.

[2020-10-16 14:30] marcomicera commented on #88
Alright, doable with [JOOQ's `seek()` method](https://blog.jooq.org/2013/11/18/faster-sql-pagination-with-keysets-continued).

Since we won't be having fixed-size pages, the `limit` and `offset` query params don't make much sense anymore. I see two ways:
1.

[2020-10-16 14:51] marcomicera commented on #88
Alright, doable with [JOOQ's `seek()` method](https://blog.jooq.org/2013/11/18/faster-sql-pagination-with-keysets-continued).

Since we won't be having fixed-size pages, the `limit` and `offset` query params don't make much sense anymore. I see two ways:

1. We get rid of them and use a unique query parameter, e.g., `page`. I can then emulate pagination by storing page boundaries (i.e., last page

[2020-10-19 08:27] marcomicera commented on #88
@gousiosg I think I need write access to the DB to create those materialized views + triggers

[2020-10-19 10:44] marcomicera commented on #88
I'm doing this, but with `page` and `limit` as query parameters.

[2020-10-19 12:18] marcomicera commented on #88
I was right in the middle of it when I realized that keyset pagination isn't really suited for our case as we're already filtering those entries for package names and versions all the time.

So for instance such a table:

[code]

[code]

[code]

would only help me when returning **all** packages, if I'm not wrong.

I'm switching back to the classic (yet inconsistent & inefficient) offset-limit.

[2020-10-19 14:25] gousiosg commented on #88
Materialized views are not a great solution, as they will need to be updated every time we add a new package. Also, for large tables, like `callables` and `edges` they will just replicate the whole (humongous) table with just an extra column. In sort, let's just do `page` and `limit` without pre-computing stuff. This is what most APIs do, so it will be more familiar with devs as well.

[2020-10-19 15:09] gousiosg commented on #88
The biggest package in the current database is `com.groupdocs:groupdocs-signature`, version `18.4` (371k callables). Postgres-based `offset`/`limit` pagination works nicely:

[code]

I would avoid anything more sophisticated until there is a need for it.

[2020-10-19 15:13] gousiosg commented on #88
It is indeed a bit slower if we order by callable id, but not prohibitively so:
[code]

[2020-10-19 15:18] marcomicera commented on #88
Yeah, so we agree on this. I dropped the keyset pagination for the offset-limit one https://github.com/fasten-project/fasten/commit/d1b7acba0581acc0efe261bb4149ddbd8f49ef49. If you're ok with this, we can close this issue already.

@romatallinn you now have pagination! Same `offset` and `limit` query params as in the good old [endpoints table](https://github.com/fasten-project/fasten/wiki/API-endp

[2020-10-20 11:47] marcomicera opened #89 "KnowledgeBase/REST API integration tests"
- [x] PostgreSQL integration tests (#92)
- [ ] ~~RESTeasy~~ Tomcat integration tests (changed in #123)

[2020-10-20 14:11] AshwinJay opened #90 "License compatibility of dependencies"
Hello, I see that Fasten has a dependency on the [WebGraph](http://webgraph.di.unimi.it/) library. Fasten is Apache License (ASL) while [WebGraph](https://search.maven.org/artifact/it.unimi.dsi/webgraph) is GPL and this may be an issue:

Ref in the POM: https://github.com/fasten-project/fasten/blob/master/core/pom.xml#L40

As per [ASL](https://www.apache.org/licenses/GPL-compatibility.html):

...

[2020-10-22 08:44] marcomicera commented on #88
@gousiosg can we close this?

[2020-10-22 08:56] marcomicera opened #93 "Make sure the REST API handles concurrent requests"
How does RESTeasy behave with multiple concurrent requests?

[2020-10-22 09:08] zikanl opened #94 "Implement support for connecting multiple postgres databases to the FASTEN Server"
Currently, FASTEN supports connecting to only one database at a time. On the other hand, Quality Analyzer requires to use multiple databases.

[2020-10-22 11:39] MihhailSokolov commented on #84
Implemented in b0c59c0
RepoCloner output now contains `repoType` which can be `git` for Git repository, `svn` for SVN repository, `hg` for Mercurial repository, or empty if could not clone or determine the type of repository.

[2020-10-22 11:39] #84 closed

[2020-10-22 12:58] #88 closed

[2020-10-26 15:27] marcomicera commented on #89
On hold, as #87 might cause the Servlet engine to change.

[2020-10-26 15:52] marcomicera commented on #87
I've been trying to add CDI support to our embedded Jetty, but unfortunately, I had no success.
I've followed:
- [The official Jetty guide](https://www.eclipse.org/jetty/documentation/current/framework-weld.html#weld-embedded) on how to include Weld;
- A [Jetty + Weld MWE](https://github.com/stilkov/jetty-weld-sample) that works on my machine.

@proksch time for me to ask for some help. Is there a

[2020-10-27 12:02] marcomicera commented on #93
Our REST API only has `GET` endpoints, so we don't have to worry about data consistency.

As far as concurrency is concerned, I haven't found clear evidence that RESTeasy handles concurrent requests in separate threads. Moreover, the [documentation](https://docs.jboss.org/resteasy/docs/4.5.8.Final/userguide/html_single/index.html#Asynchronous_HTTP_Request_Processing) suggests using asynchronous HT

[2020-10-27 12:20] marcomicera opened #98 "Implement license and compliance plugin's reporter"
The [QMSTR plugin](https://github.com/fasten-project/fasten/tree/endocode/compliancePlugin/analyzer/compliance-analyzer) detects license and compliance information of Maven projects.
For D4.3 (compatibility solver), QMSTR needs an ad-hoc reporter that will ultimately integrate such information into the KnowledgeBase through a Kafka topic.

[2020-10-27 15:15] proksch commented on #87
Skimming #80, it seems that there is no `beans.xml` in the `src/main/resources/META-INF` folder, which I think should be required to make CDI work. Or what is the problem, maybe you can elaborate a bit on what's not working.

[2020-10-27 16:01] marcomicera commented on #87
Indeed, I didn't push non-functioning code on that branch. I've now pushed my attempt on the [`api-cdi` branch](https://github.com/fasten-project/fasten/tree/api-cdi) (https://github.com/fasten-project/fasten/commit/9524a9303613452d423abcfd1ca9bb3b304ffd96).

Well, after having followed this guide:

I still get a `NullPointerException` on the field I want Weld to inject:

https://github.com/fasten

[2020-11-03 10:27] marcomicera opened #100 "Change REST API response format"
_Originally posted by @gousiosg in https://github.com/fasten-project/fasten/pull/80#issuecomment-721006461_

[2020-11-03 10:47] marcomicera opened #101 "Dockerize the REST API"
It might be possible to use `openjdk:11.0.9-jre-slim` and simply run the REST API JAR file.
We might force the creation of the JAR file via a:

- Maven goal
- Docker stage
- Making the main Docker-compose service depend on a "builder" service

That's also my personal order of preference for this.

If that's not possible, I'm afraid we would need to use `maven` images, which I think are even bigger

[2020-11-03 12:14] gousiosg opened #102 "Implement SWH compatible SHA-1s"
## Is your feature request related to a problem? Please describe.
We currently compute by SHA1s by calling the SHA1 function on the file contents. To link with SWH's software archive, we need to compute `git` compatible SHA1s

## Describe the solution you'd like
Add a column to the files table (e.g. `swh_sha1`) and fill it in with `git` salted SHA1s. As per @zvr:

[code]

## Additional context
* [

[2020-11-03 12:16] gousiosg commented on #101
Why not reuse the existing infrastructure and link with our plug-in runner component?

[2020-11-03 12:19] gousiosg commented on #86
What is the status with this issue? I also see similar exceptions in the server deployment.

[2020-11-03 13:25] marcomicera commented on #101
@proksch mentioned in an email that there will be a k8s deployment in the future, and @wzorgdrager would assist me with that.

[2020-11-03 13:27] gousiosg commented on #101
This answer is orthogonal to my question. Yes @wzorgdrager will help with the deployment files, but we should use the existing docker building infrastructure to deploy

[2020-11-03 13:28] marcomicera commented on #86
Since I didn't manage to enable CDI in RESTeasy (needed for testing #87), I might switch to something else like Spring, hence we would not be having those problems anymore.

Right now I have to postpone this as I have to work on another deliverable, but @romatallinn will assist me next week I guess.

[2020-11-03 13:32] marcomicera commented on #101
I was simply not aware of that

because Docker hasn't been mentioned here.

@gousiosg could you please tell me where can I find this infrastructure and what it is about?

[2020-11-05 09:21] marcomicera opened #105 "Include metadata in base entities endpoints"
_Originally posted by @gousiosg in https://github.com/fasten-project/fasten/pull/80#issuecomment-721085816_

Also, the [Wiki](https://github.com/fasten-project/fasten/wiki/API-endpoints-for-Maven-projects) should be updated accordingly.

[2020-11-05 09:22] marcomicera opened #106 "Query different metadata in package versions endpoint"
_Originally posted by @gousiosg in https://github.com/fasten-project/fasten/pull/80#issuecomment-721011578_

[...]

_Originally posted by @gousiosg in https://github.com/fasten-project/fasten/pull/80#issuecomment-721015932_

[2020-11-09 15:06] marcomicera opened #111 "Switch to Spring for the REST API"
As far as the REST API is concerned, there are still a few issues:

- A couple of timeout #86
- CDI not working (needed for unit testing) #87
- Unsupported concurrent requests #93

All (or part of) these problems could be solved together by switching from RESTeasy to Spring (especially for Spring DI).

This change would also affect integration tests #89 and Dockerization #101.

[2020-11-09 15:18] marcomicera commented on #106
Done in 24b01bd3. Wiki updated.

[2020-11-09 15:18] #106 closed

[2020-11-09 15:23] marcomicera commented on #105
So endpoints that return single entities (e.g., `{entity}`) seem to be including their corresponding `metadata` fields already ([table](https://github.com/fasten-project/fasten/wiki/API-endpoints-for-Maven-projects)).
@gousiosg do you want to get rid of `{entity}/metadata` endpoints?

[2020-11-09 20:46] gousiosg commented on #111
Could you please explain how / why the problems you describe will be solved with Spring?

[2020-11-10 09:56] #94 closed

[2020-11-10 10:37] marcomicera commented on #111
Sure, sorry for my brevity.

1. First things first: the Spring DI. Spring has some dedicated annotations like `@Autowired` and `@Service` that already allowed me to have a fully-functional CDI system. This simplifies unit testing a lot #87.
1. I already noticed that this Spring version of the REST API doesn't suffer from most of the timeouts we had before. I think this is due to Spring's embedded

[2020-11-10 11:26] tmortagne opened #112 "We need a tool which create a graph/tree taking a product as entry point and follow the calls in provided dependencies"
Fasten Core provide a LocalMerger which takes as input an product graph and it's dependencies graphs to produce what its calling a merged graph which in practice just complete the calls located in the product's graph with the name of the product targeted by the call.

In order to do most of the planned analysis (security, license, broken calls, etc.) we also need to follow the each external call t

[2020-11-10 17:47] marcomicera commented on #111
@ilyagrishkov @MihhailSokolov do I have to keep [Main.java](https://github.com/fasten-project/fasten/blob/kbapi/analyzer/restapi-plugin/src/main/java/eu/fasten/analyzer/restapiplugin/Main.java) and [RestAPIPlugin.java](https://github.com/fasten-project/fasten/blob/kbapi/analyzer/restapi-plugin/src/main/java/eu/fasten/analyzer/restapiplugin/RestAPIPlugin.java) that implements the PF4J `Plugin` inte

[2020-11-12 11:05] amottier commented on #102
@gousiosg you mention that we are currently computing SHA1 but in the wiki I found a [reference](https://github.com/fasten-project/fasten/wiki/Metadata-Database-Schema#explanation) to SHA256.

As I'm not very familiar with the overall FASTEN architecture I have trouble locating the code that is actually computes the SHA.
Can you point me to the appropriate direction so I can double check if we are

[2020-11-13 16:43] marcomicera opened #114 "Change callables' metadata endpoint (and query)"
### Problem

As pointed out by @zikanl is his last email, one of the reasons why the query behind the [callables' metadata endpoint](https://github.com/fasten-project/fasten/wiki/API-endpoints-for-Maven-projects#callables) (`/mvn/packages/{pkg}/{pkg_ver}/{fasten_uri}/metadata`) causes Jetty to timeout could be a complete scan of the `callables` table, as we're not specifying the module ID as a pat

[2020-11-16 14:11] wzorgdrager commented on #39
I noticed this error as well, but not in a Docker context. In general, if the arguments of the `fasten-server` jar are empty it will throw a NPE when launching a plugin. I think the shutdown should be more graceful. I'm also wondering what happens if a plugin does not require any command-line arguments.

[2020-11-18 10:52] MihhailSokolov opened #116 "Add FastenServer tests"
## Is your feature request related to a problem? Please describe.
FastenServer does not have any tests which makes the code more error-prone.

## Describe the solution you'd like
Some tests must be written to at least test FastenServer basic functionality like setting database connection for plugins and etc.

[2020-11-18 12:45] StefanosChaliasos commented on #116
https://github.com/fasten-project/fasten/pull/110#issuecomment-723649341

[2020-11-18 16:02] vigna opened #118 "GraphMavenResolver returns version ranges instead of versions"
In the output of GraphMavenResolver.resolveFullDependencySet() for it.unimi.dsi / dsiutils / 2.2.2 (compile scope) we find dependencies such as

jfree:jfreechart:[1.0.0,)

These are not resolved dependencies—resolved dependencies are artifacts. In particular, these outputs cannot be used with DatabaseMerger.

The entire returned set, displayed using toMavenCoordinate(), is below:

[code]

[2020-11-18 16:06] vigna opened #119 "GraphMavenResolver returns incorrect dependencies"
In the output of GraphMavenResolver.resolveFullDependencySet() for it.unimi.dsi / dsiutils / 2.2.2 (compile scope) we find hundreds of dependencies (see below). The actual dependencies (at the current timestamp) are

checker-qual-3.5.0.jar
commons-collections-20040616.jar
commons-configuration-1.10.jar
commons-io-2.8.0.jar
commons-lang-2.6.jar
commons-logging-1.1.1.jar
commons-math3-3.6.1.jar
erro

[2020-11-18 16:09] vigna opened #120 "GraphMavenResolver return empty version strings (which cause exceptions in DatabaseMerger)"
In the output of GraphMavenResolver.resolveFullDependencySet() for it.unimi.dsi / dsiutils / 2.2.2 (compile scope) we find dependencies without versions, e.g., `org.apache.mina:mina-core:` (see below). These dependencies, when fed to DatabaseMerger, cause an ArrayIndexOutOfBoundException as the artifact name is parsed but the number of components is not checked.

[code]

[2020-11-18 16:13] vigna opened #121 "GraphMavenResolver reports packages without associated revisions"
In the output of GraphMavenResolver.resolveFullDependencySet() for it.unimi.dsi / dsiutils / 2.2.2 (compile scope) we find dependencies like ${pom.groupId}:javax.servlet:1.0.0 containing what appear to be unresolved Maven variables. For what we could ascertain, these product have no associated revision in the database (i.e., they appear in the "packages" table but have no associated row in "packag

[2020-11-18 16:19] vigna opened #122 "GraphMavenResolver and DatabaseMerger must communicate by IDs"
Presently, GraphMavenResolver returns a set of Dependency objects. DatabaseMerger requires a list of artifacts in an undocumented format. The two classes will have to work together heavily in any scenario for impact-change analysis, so one must be able to pass data along efficiently.

The most natural way of representing revisions is by their ID in the Postgres database. A Maven resolver should re

[2020-11-18 17:25] MihhailSokolov commented on #118
This is already being solved in the new version of DependencyGraphBuilder (`dependency-graph` branch)

[2020-11-18 17:57] vigna commented on #118
No, it's called "depedency-graph" (missing n). Good news: when will it be ready?

[2020-11-18 18:02] MihhailSokolov commented on #118
Right. Must have been a typo :)
The building of the graph itself is already done. I finished it yesterday with Georgios. But I still need to update the graph traversal and the resolution process to accommodate the updated graph. If everything goes fine, this should be done by end of the next week.

[2020-11-19 09:07] marcomicera opened #124 "Parse REST API metadata response fields"

[2020-11-19 10:31] zikanl opened #125 "Complex REST API queries"
There is a need for use cases within FASTEN project to execute "complex" queries on knowledge DB. These queries would return combined graph and metadata information per graph vertex (callable).

Additional question to consider in this context is whether the client should have a number of API calls, and then to merge the results locally, or a single call would return JSON file that contains central

[2020-11-19 10:33] zikanl commented on #124
It would be good to have a more detailed description of (JSON) response for endpoints first.

[2020-11-19 12:39] MihhailSokolov commented on #122
GraphMavenResolver's part is implemented in 6d75ac5
@ilyagrishkov should soon implement DatabaseMerger part as well

[2020-11-19 12:40] #118 closed

[2020-11-19 12:51] MihhailSokolov commented on #121
Things like `${...}` are in the database because they were in our initial data set. Looks like Maven Crawler did not use some kind of POM property reference resolution in order to resolve these properties to their actual values.
This issue can be resolved by fixing the Maven Crawler and re-running it through the Maven. @mir-am I would appreciate if you could fix that. The fix should be quite simpl

[2020-11-19 12:56] MihhailSokolov commented on #120
Will be fixed with #122

[2020-11-19 13:11] mir-am commented on #121
@MihhailSokolov  I can add this feature to the Maven crawler, i.e., resolving property references. However, re-running the crawler is extremely expensive. It takes months to gather hundreds of thousands of Maven packages. That said, I think that you can still use the POM analyzer on the crawler's output topic for resolving the described cases.

[2020-11-19 13:45] MihhailSokolov commented on #121
No, POMAnalyzer cannot resolve these property references. In order to find the value of the property i.e. resolve the reference, it needs to know the coordinate to download its POM file, and it is impossible to do so if coordinate is `${pom.groupId}:javax.servlet:1.0.0`. The only way to fix this is to fix MavenCrawler and re-run it. If it is so expensive, then I guess it is better to discuss it wi

[2020-11-19 13:46] MagielBruntink opened #126 "Synchronization issues for analyzers & plugins within FASTEN"
Plugins and analyzers work in parallel within the overall FASTEN architecture. This may give rise to synchronization issues, for example:
 - A new message arrives on an new version for a product
 - JavaCGOpal consumes the message and starts work
 - RepoCloner consumes the message and starts work
 - RepoCloner finished and produces a message to _fasten.RepoCloner.out_
 - RapidPlugin consumes from _

[2020-11-19 13:56] mir-am commented on #121
I see! Okay, I can fix this in the crawler but the good news is that the POM URL is included in the record for such cases, so you can download it, and possibly resolve the property reference.

[2020-11-19 14:01] MihhailSokolov commented on #121
Ah, I forgot about the POM URL. Then when we have time later, we can create a small script that would go through the records produced by MavenCrawler and produce these records to a new topic fixing the unresolved references. And we don't need to re-run the MavenCrawler from the beginning. I will add an issue.

[2020-11-19 14:08] MihhailSokolov opened #127 "Fix unresolved property references in the MavenCrawler topic"
## Is your feature request related to a problem? Please describe.
There are several unresolved property references in the metadata database packages because MavenCrawler did not resolved properly references.

## Describe the solution you'd like
A script could be implemented that goes through the MavenCrawler topic, uses `pomUrl` to download a proper POM file and use it to resolve the property refe

[2020-11-19 14:22] gousiosg commented on #126
In the scenario you describe,`RapidPlugin` is consuming from the wrong topic: it should use the output of `MetadataPlugin` instead.

Despite this, the main issue is that `RapidPlugin` has 2 dependencies: i) on `RepoCloner` (for the repo data), and ii) on `MetadataPlugin ` (for the callables). There is currently no way to ensure that `RapidPlugin` can start after _both_ dependencies produced an out

[2020-11-19 14:51] wzorgdrager commented on #126
If it is known that producing metadata is always slower, isn't it enough to indeed have the output topic of `MetadataPlugin` as a trigger for the `RapidPlugin`? Or does the `RepoCloner` output specific information which is necessary for `RapidPlugin` and not available in the output topic for `MetadataPlugin`?

Anyhow, as Magiel mentions this might be a problem for more downstream plugins. I also t

[2020-11-19 14:59] MagielBruntink commented on #126
We have documented what information is needed: https://github.com/fasten-project/quality-analyzer#maven

Another solution could be to forward such information along the chain of tools, so that downstream plugins can safely consume from MetadataPlugin (what topic, btw?) and still have the needed  info.

[2020-11-21 13:35] wzorgdrager commented on #126
@MagielBruntink For now you could try to use the `fasten.MetadataDBJavaExtension.out` topic to get the output of the MetadataPlugin. I'll (soon) work on a more permanent solution involving joining those (upstream) streams. I'll keep you up-to-date on that!

[2020-11-21 13:56] gousiosg commented on #126
One thing we could do is to define processing stages. By defining a stage, a plug-in gets assigned a Kafka topic that is populated with events (incl metadata) that signify the end of that stage. The end of a stage means that one or (most usually) more plug-ins have finished processing the artifact in that stage. Those messages are processed by special jobs (Flink?) that can join streams together a

[2020-11-22 19:26] romatallinn commented on #100
@marcomicera a useful task to go forward with in relation to the web platform. To add, however, I guess it would be useful to put keys for every field. Coz right now it's just array.

So, instead:

[code]

Keyed dictionary:
[code]

[2020-11-23 13:00] marcomicera commented on #100
Related: https://github.com/fasten-project/fasten/issues/124.

[2020-11-23 13:38] romatallinn opened #129 "Add Package instance endpoint"
- Implement `/{pkg}` that retrieves the `Package` instance _(forge, repo, etc)_.
- It would be useful to also include in there the latest `PackageVersion` for a better flow.

[2020-11-23 14:31] marcomicera commented on #114
Another reason to change these endpoints: Tomcat does not support "(", ")", and "$" in path parameters, even when UTF-8 encoding is enabled https://github.com/fasten-project/fasten/pull/123#issue-523340984, [source](https://docs.spring.io/spring-boot/docs/current/reference/html/appendix-application-properties.html#server.tomcat.relaxed-path-chars).

[2020-11-23 14:31] marcomicera commented on #111
Done in #123.

[2020-11-23 14:31] #111 closed

[2020-11-23 14:40] marcomicera opened #130 "Unsupported URI encoding in embedded Tomcat"
In https://github.com/fasten-project/fasten/pull/123#issue-523340984:

Last endpoint could disappear after https://github.com/fasten-project/fasten/issues/114 is solved.

[2020-11-23 15:01] marcomicera commented on #129
This is not trivial, I've been using:

[code]

Assuming that `version` follows this format: `INTEGER`.`INTEGER`.`INTEGER`, but this is not always the case, e.g.:

[code]

returns:

[code]

@romatallinn how would you like to programmatically determine the last version in such cases?

I have two empirical ideas that might not be super reliable...: using `MAX(package_versions.id)` or `MAX(package_ver

[2020-11-23 15:03] marcomicera commented on #86
Solved in #123.

[2020-11-23 15:03] #86 closed

[2020-11-23 15:14] romatallinn commented on #129
What is exactly the problem with `package_versions.created_at`?

[2020-11-23 15:19] marcomicera commented on #129
Actually, I don't know whether that represents the row insertion time into the DB or the actual package version creation time.

[2020-11-23 15:25] romatallinn commented on #129
Good question. I asked @MihhailSokolov, he says it's the date when the package was published, thus what we need. Nevertheless, I still see the possible problem with patches for older versions.

Either way, for the moment, I think you can use the date.

[2020-11-23 15:45] marcomicera commented on #129
@romatallinn done. You can find the details in the first row of the ["packages and package versions" endpoints table](https://github.com/fasten-project/fasten/wiki/API-endpoints-for-Maven-projects#packages-and-package-versions).

[2020-11-23 15:45] #129 closed

[2020-11-23 16:48] marcomicera commented on #100
Done in 3ea80350.

[2020-11-23 16:48] #100 closed

[2020-11-23 17:11] marcomicera opened #131 "Do not return arrays for endpoints returning only one row"
E.g., `/mvn/packages/{pkg}` should return:

[code]

And not:

[code]

The [Wiki page](https://github.com/fasten-project/fasten/wiki/API-endpoints-for-Maven-projects) should be updated accordingly.

[2020-11-23 17:19] marcomicera commented on #124
Now that I've managed to properly format JSON responses (#100), I'm starting to include a sort of a JSON schema in the Wiki page. Check the "response body" column of the first ["packages and package versions" table](https://github.com/fasten-project/fasten/wiki/API-endpoints-for-Maven-projects#packages-and-package-versions). I'll finish filling the other tables tomorrow.

[2020-11-23 17:38] marcomicera commented on #131
Also `limit` and `offset` query params should be deleted.

[2020-11-23 18:17] romatallinn opened #132 "The response is returned within the array"
The response format still (after #100) doesn't exactly match the standard specifications of [JSON API](https://jsonapi.org). There is a minor flow.

The response is returned within an array, rather than by the object itself.

For example, instead of:
[code]

Should be:
[code]

[2020-11-23 18:41] marcomicera commented on #132
Duplicate of https://github.com/fasten-project/fasten/issues/131 (I've been referencing it in the Wiki already a lot of times, so I'm closing this one).

[2020-11-24 16:21] wzorgdrager commented on #126
@gousiosg @MagielBruntink I created a new repository for a Flink job dealing with this issue. Can be found [here](https://github.com/fasten-project/synchronize-javacg) (if you have ideas for a better name, let me know). You can keep track of that repo to follow the progress. Let's move our discussion there. I shall create some issues with ideas/discussion points for the specific implementation, an

[2020-11-25 11:50] vigna opened #136 "Please rename the eu.fasten.core.data.Graph class"
The eu.fasten.core.data.Graph class has a name overlapping with JGraphT's Graph interface. Such a short and generic name should be reserved to interfaces. The class appears to be a very specific implementation.

[2020-11-25 11:59] vigna opened #137 "Please start to use type-specific containers pervasively"
Throughout the FASTEN codebase a large number of primitive-type containers and interfaces using objects (e.g., List<Long>, Set<Integer>, etc.) are used both in method specifications and as concrete containers.

For primitive types, such containers are extremely expensive, as they require an object per contained element. The memory footprint is 4-5 times that of the stored data. If we intend to sca

[2020-11-25 12:37] tmortagne opened #138 "The id generated for a Java class without any package contains "null""
## To Reproduce
Analyze a java class `MyClass` with no package: you end up with a JSON containing:

[code]

in the produced JSON.

## Expected behavior

I feel that en empty string (so "//MyClass") would make more sense than "null".

[2020-11-25 14:08] amottier opened #140 "Call from an artifact to a dependency not listed in OPAL call graph output"
## Describe the bug
I'm using a very [basic project](https://github.com/fasten-project/fasten/files/5597021/minimal-projects-for-testing-purpose.zip) (a one class application with a one class library) to test the call graph generator. In the JSON output I can find all calls except a call from `MyApp` class `run` method to `Speaker` class `sayHello` method packaged in `my-lib`.

## To Reproduce
Ste

[2020-11-26 11:36] vigna opened #142 "RocksDaoTest uses lists instead of sets"
Tests in RocksDaoTest compare predecessor and successor lists instead of comparing sets. This yields spurious failures depending on the hardware, race conditions in LLP, etc. DirectedGraph does not guarantee any specific order of the predecessor and successor lists. Tests checking for equivalence of such lists should be of the form, e.g.,

assertEquals(Set.of(expected), new LongOpenHashSet(g.succe

[2020-11-26 21:29] romatallinn opened #143 "Allow CORS requests"
The web platform is built on React. Thus, it uses the client to communicate with API. In the current configuration, Rest API is blocking such requests due to CORS restrictions. Therefore, we need to allow it.

For now, I am having a workaround for my needs by adding `@CrossOrigin` annotation to all API endpoints that I use. There is probably a more elegant way of applying the rule to all endpoints

[2020-11-27 03:25] mayralgr commented on #131
@marcomicera I would like to work on this, can I be assigned? and can you give me as much information as you can? It is my first pr :)

[2020-11-27 08:58] romatallinn opened #144 "Implement search with filters"
It would be useful for the frontend project to have a search feature with mixed output, which means that it looks over and returns different types of components (not only packages but modules and callables as well).

(although for starters, search over just packages would be enough)

[2020-11-27 09:39] marcomicera commented on #131
Sure! Thanks a lot for dedicating your time to FASTEN.

Of course!
#80 is the draft PR for the REST API. You can see there that the REST API code resides on the [`kbapi` branch](https://github.com/fasten-project/fasten/tree/kbapi), specifically in the [`analyzer/restapi-plugin` folder](https://github.com/fasten-project/fasten/tree/kbapi/analyzer/restapi-plugin). You can find instructions on how to

[2020-11-27 10:15] MihhailSokolov opened #145 "Refactor POMAnalyzer to use proper MavenResolver"
## Is your feature request related to a problem? Please describe.
All the analysis in POMAnalyzer is done manually by inspecting the POM file and parents' POM files which is tedious and can be error-prone.

## Describe the solution you'd like
A MavenResolver can provide an effective POM which already has all the information needed to be extracted. Therefore only one file will be analyzed and there

[2020-11-27 10:19] Luffy-programmer commented on #143
I am a beginner and want to contribute, but I don't know how.
Help!

[2020-11-27 14:50] MihhailSokolov opened #146 "Add proper exclusion and dependencyManagement handling to dependency graph resolution"
## Is your feature request related to a problem? Please describe.
Currently, exclusions are not inherited from the parent, also `dependencyManagement` is not handled at all.

## Describe the solution you'd like
Rewrite the dependency graph resolution to accommodate the proper exclusion filtering and handling of `dependencyManagement`

## Additional context
[code]

[2020-11-27 15:32] cg122 opened #147 "Support various format of input in JavaCGOpal CLI"
## Problem
Currently, JavaCGOpal CLI only supports maven coordinates or JAR(or Class) files as input for merging and the artifact and dependencies must be of the same format.

## Expected Behaviour

- More format of input, JavaCGOpal CLI supports JSON files of call graph as inputs.

For example, one can use `-m JSON` to indicate JSON call graph files as input.

- More options of `-m`, JavaCGOpal C

[2020-11-27 16:10] cg122 opened #148 "JavaCGOpal CLI does not generate call graph json files for dependencies."
## Problem

JavaCGOpal CLI merging only generates files of raw call graph of 'artifact' and resolved call graph of 'artifact'.

The call graphs of dependencies are generated but write to the same output file and finally overwritten by the call graph of 'artifact'.

Run command:

[code]

The generated files are:  'output_file' and 'output_file_merged'

## Expected

All the raw and resolved call gra

[2020-11-28 12:05] #142 closed

[2020-11-28 12:05] #122 closed

[2020-11-28 12:06] #120 closed

[2020-11-30 09:00] amottier commented on #140
On a side note, I'm not sure about the purpose of `output.json_my-app-1.0-SNAPSHOT_merged` compared to `output.json`. During my test I even didn't realized that such file was created as it is not mention in the [README.md](https://github.com/fasten-project/fasten/blob/opal-gh-pkg/analyzer/javacg-opal/README.md) and not specified on the command line.

[2020-11-30 11:42] romatallinn opened #151 "More explicit errors on wrong DB credentials"
Throw explicit and clear errors if the credentials for DB connection are invalid.

[2020-11-30 11:47] zikanl opened #152 "Implement get callgraph in REST API"
At the moment there is no implementation at REST API that allows to get callgraphs from the DB. In addition, there is no method that would return a stitched call graph.

The output of the request is a JSON document that represents a stitched call graph. This may result in a large document, so an efficient way to compress it should be integrated as well (e.g. protocol buffers).

[2020-11-30 11:50] zikanl opened #153 "Implement get metadata for a list of callables in REST API"
A method to get metadata in REST API is not currently implemented. This method should get relevant metadata from the callables table in FASTEN DB. The metadata requested could be either vulnerability-related, quality-related or both.

[2020-11-30 11:57] zikanl opened #154 "Implement get "enriched" callgraph in REST API"
A method to get "enriched" callgraph in REST API is requested. This method combines [#152 ](https://github.com/fasten-project/fasten/issues/152) and [#153 ](https://github.com/fasten-project/fasten/issues/153), and relevant centrality measures of the callables.

The response generated is a JSON file that contains a callgraph in which, each callable is "enriched" with metadata (vulnerability, quali

[2020-11-30 13:19] MihhailSokolov opened #155 "Remove escape characters from REST API responses"
## Describe the bug
The response contains the escape character `\` before some `/` and `"`.

## To Reproduce
Steps to reproduce the behavior:
1. Run the REST API plugin
2. Go to `http://localhost:8080/mvn/packages/junit:junit/4.12/modules`
3. In the response you will see the response character, for example `"metadata": "{\"final\": false, \"access\": \"public\", \"superClasses\": [\"\/junit.framew

[2020-11-30 13:33] #151 closed

[2020-11-30 13:49] MihhailSokolov commented on #143
Should be solved in c7524ef
@romatallinn could you test it to see if my solution works? If it doesn't then we'll add `@CrossOrigin` to every API class.

[2020-11-30 13:51] MihhailSokolov commented on #143
Hello @Luffy-programmer. We are happy that you want to contribute! Please read our contribution guide [here](https://github.com/fasten-project/fasten/blob/master/CONTRIBUTING.md)

[2020-11-30 13:58] MihhailSokolov commented on #131
@mayralgr are you still working on this? Because I have a fix for this issue. It's just one line change :)

[2020-11-30 14:01] #131 closed

[2020-11-30 14:38] mayralgr commented on #131
@MihhailSokolov I was but I had a little hard time installing everything, I was going to start today. If you have it, don't worry. I'll look for another one. Thank you! If anything, if you have a suggestion for a first pr, I am open to it :)

[2020-11-30 14:51] MihhailSokolov commented on #131
Actually, I do have a suggestion for you :)
I would appreciate if you could take up the issue #155 if you don't mind.
Good luck!

[2020-11-30 15:10] mayralgr commented on #131
@MihhailSokolov thank you, I will work on it :)

[2020-11-30 15:11] mayralgr commented on #155
I am working on this issue 😄

[2020-11-30 15:11] MihhailSokolov commented on #131
Perfect, thanks! If you have any questions don't hesitate to ask.

[2020-11-30 15:29] romatallinn commented on #143
LGTM.

[2020-11-30 15:29] #143 closed

[2020-11-30 17:49] vigna commented on #119
Definitely an improvement, but we are still far from Maven:

[code]

[2020-11-30 18:00] MihhailSokolov commented on #119
Yes, I am aware of this issue. As I said earlier, currently the resolver does not filter the exclusions properly and this is the most likely source of these superfluous artifacts. Because right now the REST API is the highest priority, I will be able to fix that only after I am done with the REST API.

[2020-11-30 18:02] vigna commented on #119
I understandand, but please do not close issues that have not been resolved.

[2020-11-30 18:05] MihhailSokolov commented on #119
@vigna Also in the meantime if you only need dependencies you can use `MavenResolver` instead of `GraphMavenResolver` as indicated [here](https://github.com/fasten-project/fasten/wiki/Resolution-and-Stitching#online-resolution). However, I must warn that it works only in around 50% of the cases (can't make it better because the other 50% come from Maven errors when running `mvn dependency:list` on

[2020-12-01 11:29] MihhailSokolov commented on #155
@mayralgr I forgot to mention: when you start working on the issue, please branch out from `kbapi` branch and when you're done, create a PR back into `kbapi`. Thanks!

[2020-12-01 11:30] MihhailSokolov commented on #114
@marcomicera have reached an agreement about this issue?

[2020-12-01 11:36] MihhailSokolov commented on #153
@zikanl how would you want to identify the callables whose metadata you want to obtains? Would the list of callable IDs in the body of the request suffice? Also, do you want to obtain the whole metadata from the callable or only certain attributes such as vulnerabilities and/or quality metrics?

[2020-12-01 11:45] MihhailSokolov commented on #125
I am not sure if it's a good idea to switch back and forth between client and server computation depending on the graph size. It would make client-side code quite complex because it would need to first find out the size of the stitching graph (which would already require stitching on the server) and already then decide if it simply receives the graph or does the computation itself. I think that it

[2020-12-01 11:46] MihhailSokolov commented on #124
@marcomicera is it done or still in progress? If in progress, what is left to be done?

[2020-12-01 11:56] MihhailSokolov commented on #101
@marcomicera @gousiosg is there any progress on this one?

[2020-12-01 12:00] MihhailSokolov commented on #101
@gousiosg by reusing existing Docker deployment you mean making it a plugin and deploying it with the FASTEN server the same way we deploy other plugins?
If yes, I actually think it is not quite necessary. REST API does not need to consume from Kafka (or any other place), so it doesn't really need the FASTEN server. So I think it is easier to deploy it separately. What do you think?

[2020-12-01 12:04] proksch commented on #101
Make it as simple as possible. I would not tie it to the FASTEN Server, as it is not a plugin.

[2020-12-01 12:06] proksch commented on #105
I remember that @gousiosg wanted to keep them separately. I do not remember the argument though... I would say why not include it in the first step (to make it available at all) and review this decision later, when the API get's more stable.

[2020-12-01 12:10] MihhailSokolov commented on #105
Then if @gousiosg agrees, I am closing this issue and keeping `{entity}` and `{entity}/metadata` separate as they currently are.

[2020-12-01 12:15] MihhailSokolov commented on #93
Consider using [h2load](https://nghttp2.org/documentation/h2load-howto.html) for load testing when most of the stuff is done.

[2020-12-01 13:34] vigna opened #156 "DatabaseMerger.mergeWithCHA() misses internal calls"
We consider here the graph with ID 1114828 (dsiutils version 2.2.2). Loading it from the graph database returns a graph with

- 2383 nodes of which 2383 internal
- 6061 arcs

Actually examining the nodes and checking manually finds 1974 internal nodes and 4190 internal calls. The stored number of internal nodes is wrong.

The graph returned by the mergeWithCHA() with the only graph as dependency h

[2020-12-01 14:47] gousiosg commented on #105
I 'd prefer to have it in the same call, in most cases we need the metadata more than the actual entity (e.g. when querying `callables`)

[2020-12-01 14:52] MihhailSokolov commented on #105
So then just remove the `{entity}/metadata` because `{entity}` already returns all the information available for the given entity (including metadata)?

[2020-12-01 14:53] gousiosg commented on #101
The idea was that if we use it as part of the server, we would be able to reuse the same build, deployment and K8S pipeline. When I wrote that comment, you had to run the Rest API in a `screen` session, with no supervision etc. If this is the fastest way to do that, so be it for the moment. Eventually, we need to deploy it within K8S.

[2020-12-01 17:13] marcomicera commented on #101
No, I didn't work on this.

[2020-12-01 17:15] marcomicera commented on #114
No. @zikanl would you be ok with one of the following?

[2020-12-01 17:17] marcomicera commented on #124
I was still updating the Wiki page with a more accurate version of the response bodies as @zikanl suggested, but I didn't actually start parsing the metadata field. You can take over this.

[2020-12-01 20:53] mayralgr commented on #155
@MihhailSokolov thank you, I am already in the kbpi branch, I hope I finish today, I am goin to check the issue and if I have any further questions I get back to you. Thanks!

[2020-12-02 08:55] zikanl commented on #125
I agree it would be ideal to do "everything" on the server, but, the generated graph could be large. That is why this has been suggested as an option. The other suggested option was to do all computation at the server (with lot of data generated) and then to use protocol buffer in order to efficiently transfer large chunks of data.

[2020-12-02 09:07] MihhailSokolov commented on #125
I like the second option. Since projects tend to have a lot of transitive dependencies, I assume that a lot of stitched callgraphs will be quite big. So using protocol buffer seems like a nice idea. Anyway, we can still discuss this tomorrow during the meeting :)

[2020-12-02 09:15] zikanl commented on #153
@MihhailSokolov  It would be ideal if we could support a choice of attributes for the metadata. This would allow us to specify whether we want e.g. vulnerabilities only, quality metrics only, or whole metadata.

W.r.t. callables - we need a way to uniquely identify a callable. If callable IDs are enough, then we could follow that way

[2020-12-02 09:53] zikanl commented on #114
Let us discuss this in detail during the call tomorrow.

[2020-12-02 11:21] MihhailSokolov commented on #119
@vigna I made so that only `compile`, `runtime` and `provided` dependencies are in the final dependency set. This way `it.unimi.dsi:dsiutils:2.2.2` returns 17 dependencies which is way closer to the Maven.

[2020-12-02 16:40] #101 closed

[2020-12-03 12:25] vigna opened #157 "A large number of graphs from Maven are missing from the revision call graph database"
The FASTEN graph database stored on munich should contain by now most of Maven's call graphs. However, a scan of the RocksDB key/value store shows as of now that just 737288 revision call graphs have been stored. This is reflected in most lookups of DatabaseMerger.mergeCHA() returning null, in turn making the resulting stitched graph to miss a large part of the intended arcs.

[2020-12-03 13:13] ilyagrishkov commented on #156
Fixed in 11e6ab7. Now merged call graphs include resolved nodes and arcs, internal as well as unresolved external nodes and arcs from the original call graph.

[2020-12-03 13:37] marcomicera commented on #130
@MihhailSokolov back then I tried to enable it through Spring's `.properties` files, but I couldn't manage to do it. Maybe we can achieve greater control if we manage to include Jetty's `web.xml` file in the repo, even if we're dealing with an embedded version. Maybe this might be useful: https://cwiki.apache.org/confluence/display/TOMCAT/Character+Encoding.

[2020-12-03 13:38] marcomicera opened #158 "Export Postman's workspace for the REST API"

[2020-12-03 13:47] marcomicera commented on #93
@MihhailSokolov

[2020-12-03 13:55] vigna commented on #156
The branch missing_internals contains a class that should be run on munich (as that's the only place where the graph database is available).

Please compile core and try

java eu.fasten.core.maven.TestInternal it.unimi.dsi dsiutils 2.0.4

The class stores the arcs corresponding to internal calls, and after stitching performs a test to check that the arcs are still in place. Most of the internal ca

[2020-12-03 14:02] MihhailSokolov commented on #132
There are more endpoints to fix (look [here](https://github.com/fasten-project/fasten/wiki/API-endpoints-for-Maven-projects) for `"Only one element, it won't be an array soon."`)

[2020-12-03 14:19] cg122 opened #159 "JavaCGOpal CLI generates non-unique IDs for callables in resolved call graph."
## Describe the bug
JavaCGOpal generates non-unique ID for callables in resolved call graph.

## To Reproduce
Steps to reproduce the behavior:
1. Using example in **(https://github.com/fasten-project/fasten-maven-plugin/tree/master/src/test/resources-its/eu/fasten/maven/CheckMojoIT/test1)**
2. Compile the code and generate JAR file (test1-test.jar)
3. Use JavaCGOpal CLI to generate merged graph wi

[2020-12-03 14:46] marcomicera opened #160 "Let the REST server return 4xx in case of error"

[2020-12-03 14:54] marcomicera commented on #158
Done in https://github.com/fasten-project/fasten/commit/ddb2802ca1ef2cffd1d7151181f63bdd76fd363a.

[2020-12-03 14:54] #158 closed

[2020-12-03 15:11] cg122 opened #161 "JavaCGOpal CLI does not generate module name in the same way in FILE and COORD modes when merging."
## Describe the bug
JavaCGOpal CLI does not generate module name in the same way in FILE and COORD modes when merging.

`-m FILE` will take filename of JAR as module name, `-m COORD` will take 'groupId:artifactId$version' as module name.

## To Reproduce

Run JavaCGOpal CLI for the same artifact and dependency in two modes (`-m FILE`  and `-m COORD`).

## Expected behavior
The result merged call g

[2020-12-03 17:02] wzorgdrager commented on #126
Discussion is moved to [this issue in the correct repository](https://github.com/fasten-project/synchronize-javacg/issues/1).

[2020-12-03 17:02] #126 closed

[2020-12-03 17:11] amottier commented on #159
In my not help at all but it might worth noticing that you are not using the latest version available in the `develop` branch.

In fact the current version is using `-m` as replacement for `-s` (see https://github.com/fasten-project/fasten/tree/develop/analyzer/javacg-opal#arguments and in source code https://github.com/fasten-project/fasten/blob/develop/analyzer/javacg-opal/src/main/java/eu/faste

[2020-12-03 17:26] cg122 commented on #159
Thanks for pointing this out. I will try the latest version and see how it works.

[2020-12-04 11:16] MihhailSokolov commented on #157
We have created a copy of the graph database on the Athens server, reset the Kafka topic offsets, and deployed the graph plugin on Athens. So the missing graphs are already being put into the graph database on Athens. Hopefully, it will be complete in a few days and then this issue should be resolved.

[2020-12-04 11:42] vigna commented on #157
Can you point me at the location of the database? It is needed to stitch graphs. Is the copy on munich still available or should I wait for the copy on athens being rebuilt?

[2020-12-04 11:54] MihhailSokolov commented on #157
Sure, the path to the database is exactly the same as on Munich `/home/msokolov/graphdb`.
For now, both copies are available for usage. The only difference is that in a couple of days the copy on Athens will be more complete than the one on Munich.

[2020-12-04 17:15] vigna opened #162 "Some graph stitchings are extremely slow"
While testing the stitching code, it happens that some stitchings are extremely slow—almost two order of magnitude slower than other stitching with a comparable number of resulting arcs. Always referring to the missing_internal branch,

java eu.fasten.core.maven.TestInternal it.unimi.dsi dsiutils 2.0.4

reports

[code]

The timing reported (36s) is the actual stitching time—the time taken by merge

[2020-12-04 19:02] vigna opened #163 "GraphMavenResolver hangs"
In the missing_internal branch, try, as always on munich (or athens, depending on where the graph database is being hosted)

java  eu.fasten.core.maven.TestInternal br.com.objectos.core io 0.3.2

After loading the graph, the call to GraphMavenResolver.resolveDependencies() in the class above never exits (more precisely, after two hours the call has yet to return).

[2020-12-05 10:13] vigna opened #164 "GraphMavenResolver throws IllegalStateException"
In the missing_internal branch, try, as always on munich (or athens, depending on where the graph database is being hosted)

java eu.fasten.core.maven.TestInternal br.com.objectos.core io 0.3.2

The call to GraphMavenResolver.resolveDependencies() throws the following exception:

Exception in thread "main" java.lang.IllegalArgumentException: no such vertex in graph: org.projectodd.stilts:stilts-st

[2020-12-05 11:11] vigna opened #165 "The Java graph database contains wrong information about internal nodes"
In the missing_internal branch, try, as always on munich (or athens, depending on where the graph database is being hosted)

java eu.fasten.core.maven.TestInternal it.unimi.dsi dsiutils 2.2.2

In the output, we see that the number of reported internal nodes is

[code]

In particular,  graph.externalNodes() on this revision call graph return zero, which is incorrect as there are several calls to de

[2020-12-08 11:12] romatallinn commented on #155
Hi @mayralgr, what is the status of this issue?

[2020-12-08 12:25] romatallinn opened #166 "Endpoint for retrieval of Callables for a specific Module"
The endpoint that retrieves a list of `Callables` for a specific `Module`.

For example,
`/mvn/packages/{pkg}/{pkg_ver}/modules/{namespace}/callables`

[2020-12-08 14:17] tmortagne opened #167 "java.lang.IllegalArgumentException: The entity part cannot contain colons"
Tag from which the error was reproduced: c02bba5e610418d8368c7aad3b59b4e0d068d7d1

## Describe the bug

When I try to use `eu.fasten.core.merge.LocalMerger#mergeWithCHA(cf)` with one of the dependencies product name being "org.apache.commons:commons-lang3" it produce the following exception when resolving one of the external call to this dependency:

[code]

Was working fine in a previous version

[2020-12-08 14:21] mayralgr commented on #155
@romatallinn thanks for asking, I had had some troubles running the project, until I found the source I am leaving it open to contributions, I will get back to it if possible.

[2020-12-08 14:32] tmortagne opened #168 "Lambda expression in a call graph make LocalMerger#mergeWithCHA fail"
Tag from which the error was reproduced: c02bba5

## Describe the bug

I'm trying to use LocalMerger with the graph of a Java project and its `org.apache.commons:commons-lang3` dependency but it's failing when hitting a Java call containing `$` in its definition:

[code]

It used to work fine but it seems that either there is a bug in the production of the callgraph not properly escaping `&` chara

[2020-12-09 09:49] cg122 opened #169 "java.lang.IllegalArgumentException: Illegal character in path at index"
## Describe the bug
'java.lang.IllegalArgumentException: Illegal character in path at index' when using JavaCGOpal command line tool in both COORD and FILE mode

## To Reproduce

1.  run command with options as below to merge call graph:
[code]
or download 'commons-text-1.9.jar' and `commons-lang3-3.11.jar` then run command below:
[code]

## Expected behavior
Generate raw and resolved call graph f

[2020-12-09 10:30] amottier commented on #169
I looks like a duplicate of #168.

[2020-12-09 16:56] #166 closed

[2020-12-10 08:33] vigna opened #170 "Reverting the map from GID to FASTEN URIs requires more than 30 minutes"
The metadata database, as per deliverable D2.8, is supposed to contain the bijection GID <-> Fasten URI and make it available in both directions. However, while GID queries like
[code]
are solved instantly, URI queries like
[code]
don't return a result after 30 minutes. This might be just a problem of incorrect indexing, but it makes impossible to obtain GIDs for example, from locally stitched gra

[2020-12-10 09:43] vigna opened #171 "Local merging returns an inconsistent node set"
Local merging with LocalMerger.mergeWithCHA() is supposed to return a stitched graph with nodes corresponding to callables. However, ExtendedRevisionJavaCallGraph.mapOfAllMethods() returns a map from node indices to Fasten URIs that is inconsistent: multiple nodes are assigned the same FASTEN URI. This makes it impossible, among other things, to compute properly centrality measures.

In the branch

[2020-12-10 12:25] MihhailSokolov opened #172 "Improve error response"
## Describe the bug
Currently, not all endpoints have proper error responses in the case for example the server fails to find a certain database entity.

## To Reproduce
Steps to reproduce the behavior:
1. Run the REST API  locally
2. http://localhost:8080/mvn/packages/blahblah/1
An artifact `blahblah` with version `1` certainly does not exist, however, the response contains an empty array (`[]`)

[2020-12-13 14:11] MihhailSokolov commented on #170
I think we already mentioned it at some point, but currently, we don't have that many indexes because they would significantly slow down the insertion queries and right now we insert a lot. When the database is in the final state, then we'll add all additional indexes (including one on the `fasten_uri`)

[2020-12-13 19:13] vigna commented on #170
When will it be finalized?

[2020-12-13 19:34] MihhailSokolov commented on #170
I don't really know. I think the plan is that once we fix all the issues, we will clean the database, re-run the whole pipeline and then add indexes.

[2020-12-14 09:35] #130 closed

[2020-12-14 09:40] #125 closed

[2020-12-14 10:26] tmortagne commented on #100
Note that this one does not seems to be fixed on http://lima.ewi.tudelft.nl/api but maybe the server is not up to date (but it's strange since the first point is fixed). See http://lima.ewi.tudelft.nl/api/mvn/packages/org.eclipse.jetty:jetty-webapp/9.4.17.v20190418/metadata for example.

[2020-12-14 10:37] #132 closed

[2020-12-14 10:48] MihhailSokolov commented on #155
Fixed in 02de5db

[2020-12-14 10:51] #105 closed

[2020-12-14 11:02] marcomicera commented on #100
I think the old RESTeasy/Jetty implementation is still running on that server. Someone should deploy the new Spring/Tomcat version. @proksch

[2020-12-14 11:08] MihhailSokolov commented on #153
Implemented in 56e7831
The POST endpoint `/metadata/callables` takes a list of FASTEN URIs for which you want to retrieve metadata in the body of the request and has optional parameters `attributes: List<String>` where you can specify the exact names of top-level metadata attributes you need and `allAttributes: boolean` if you want to retrieve all metadata attributes.
Later I will add a `namespace

[2020-12-14 11:11] MagielBruntink opened #173 "JavaCGOpal is limited to analysing Java 8, support for newer Java version should be planned"
Java 8 is on indefinite support from Oracle, but more and more project will use newer version (eg. 11). This will progressively make the Java analysis of FASTEN more incomplete.

Request:
A clear roadmap of including newer Java versions in the analysis, based on OPAL or some other suitable analysis framework.

[2020-12-14 11:52] proksch commented on #100
The server should run the new REST API since several days already... (btw. you can also access it via http://api.fasten-project.eu/api/ now, but Lima should still work. We will report on this before the next dev call). I am not sure about the state of the excessive quoting problem though. I thought we had an issue for this, but maybe I had this exact here issue in mind.... If there is none, please

[2020-12-14 11:55] MihhailSokolov commented on #100
I just resolved the issue with escape characters. We will deploy the latest version a bit later today because we first need to fix some configuration.

[2020-12-14 13:07] tmortagne commented on #100
Much better domain name indeed, but it does not seems to work (getting a "502 Bad Gateway" error).

But maybe it's related to "we first need to fix some configuration".

[2020-12-14 13:11] MihhailSokolov commented on #172
Related to #160

[2020-12-14 13:13] tmortagne commented on #100
Actually http://lima.ewi.tudelft.nl/api/ is down too now so I guess it is indeed the configuration issue.

[2020-12-14 14:41] wzorgdrager commented on #100
We just deployed the latest version, it should work properly now.

[2020-12-14 14:45] tmortagne commented on #100
It's better but http://api.fasten-project.eu/api/mvn/packages/org.eclipse.jetty:jetty-webapp/9.4.17.v20190418/metadata for example produces an invalid JSON. Probably because there is still `"` around the metadata fiel value.

[2020-12-14 14:50] MihhailSokolov commented on #100
You are indeed correct. Thanks for noticing! Could you please open an issue for it and I will try to fix it tomorrow

[2020-12-14 15:43] tmortagne opened #174 "The metadata endpoint of the REST API produce invalid JSON content"
A good example to reproduce the bug is to look at the JSON produced when you go to http://api.fasten-project.eu/api/mvn/packages/org.eclipse.jetty:jetty-webapp/9.4.17.v20190418/metadata.

The problem seems to come from the fact that the metadata field value is not fully inlined: while the escaping was removed there is still `"` characters around it.

[2020-12-14 15:43] tmortagne commented on #100
Done: https://github.com/fasten-project/fasten/issues/174

[2020-12-15 09:19] romatallinn commented on #124
Hi @marcomicera, I am not sure if this is the issue about this problem, but I am getting `metadata` response in the format of:
`"{"final": true, "access": "packagePrivate", "superClasses": ["/java.awt.event/WindowAdapter"], "superInterfaces": []}"`

The quotes in the beginning and the end of the response screws it up because now it stringifies everything incorrectly.

[2020-12-15 09:25] romatallinn commented on #155
You removed the escapes, but they were there due to the quotes in the beginning and the end of the response. Now it is neither a valid string (no escapes, multiple quotes) nor a valid json (quotes stringify wrong parts).

`"{"final": true, "access": "packagePrivate", "superClasses": ["/java.awt.event/WindowAdapter"], "superInterfaces": []}"`

[2020-12-15 10:02] cg122 commented on #171
I guess this is also relevant to issue #159. The LocalMerge seems has no 'global id' for nodes in the stitched graph, instead nodes are indexed locally in terms of each ExtendedRevisionJavaCallGraph.

[2020-12-15 10:18] ashkboos commented on #173
This is a fair point, however, I'm afraid that this is currently a limitation that we can not do much about it:

What I experienced with OPAL is that the "preliminary" support for Java 11 causes very rare successful CG generation for Java 11. Therefore, it is not completely reliable yet to expect Java 11 support in FASTEN. We also tried WALA and it has the same issue. Considering the fact that we

[2020-12-15 10:46] vigna commented on #171
Inversion of the map GID -> URI is currently impossible because of https://github.com/fasten-project/fasten/issues/170, and no date has been set for a solution. Until that issue is solved, it will be impossible to obtain call graphs with global IDs from local merges.

[2020-12-15 12:26] gousiosg commented on #170
What we can do is:

[code]

but then queries that use the index should look like:

[code]

@vigna would that work?

[2020-12-15 12:57] MihhailSokolov commented on #174
Turns out the invalid formatting was an internal jOOQ issue. I've updated the jOOQ dependency to the latest version and fixed formatting in 36d6d85.

[2020-12-15 12:57] #174 closed

[2020-12-15 12:58] #155 closed

[2020-12-15 15:12] ashkboos commented on #159
It should be fixed by bbecb85

[2020-12-15 21:11] romatallinn opened #176 "Endpoint for module callables retrieval stopped working"
POST `mvn/packages/junit:junit/3.7/modules/callables`
[code]

I'm not entirely sure if this specific endpoint should return any callables (it's just an example), but the endpoint doesn't work in general. Returns status 200 with an empty array.

If I am not mistaken, the issue persists for the module's `metadata` and `files` endpoints as well. Although here I'd suggest additional triage.

[2020-12-15 21:17] romatallinn commented on #176
@MihhailSokolov can you please have a quick look at method `getModuleCallables` in `eu/fasten/core/data/metadatadb/MetadataDao.java`. Does it look correct to you? Can't spot the problem.

P.S. The goal is to find all callables of the module.

[2020-12-15 21:29] gousiosg commented on #170
This query returns instantly after the index was created

[code]

[2020-12-15 21:36] MihhailSokolov commented on #176
I think in the body request should be only the namespace itself, not JSON. Could you try the following request body and let me know if it works?
[code]

[2020-12-15 21:41] romatallinn commented on #176
Yes, it works. Thanks.

[2020-12-15 21:42] #170 closed

[2020-12-15 21:42] #176 closed

[2020-12-17 08:59] marcomicera commented on #124
Sorry for the late reply: @MihhailSokolov could you please check this? Thanks!

[2020-12-17 09:02] MihhailSokolov commented on #124
I am pretty sure I fixed it a couple of days ago. Or does the problem still persist?

[2020-12-17 12:00] #114 closed

[2020-12-17 12:09] MihhailSokolov commented on #114
We have added a hash index on `callables.fasten_uri`, so now there is no need to join with modules. It is very fast with that index. See https://github.com/fasten-project/fasten/issues/170#issuecomment-745256320

[2020-12-17 12:58] MihhailSokolov commented on #153
@zikanl We took a bit different approach and instead of somehow passing package name and version as the parameters we decided to restrict the endpoint to allow only the full FASTEN URIs (`fasten://{forge}!{package_name}${version}/{partial_fasten_uri}`) in the request body. You can use `core.utils.FastenUriUtils` to convert partial URI into full URI and vice versa. The attribute parameters remain t

[2020-12-17 13:00] MihhailSokolov commented on #144
@romatallinn Would the substring search in package names be enough? Also what should be the output then, full package record or something else?

[2020-12-17 13:40] romatallinn commented on #144
Yes, this would be sufficient for now.

Yes, the array of Package instances.

[2020-12-17 13:46] romatallinn opened #177 "Vulnerabilities format in metadata"

[2020-12-17 13:49] #177 closed

[2020-12-17 21:30] ilyagrishkov commented on #162
Additional logging added in 075ec52 to show the total time mergeWithCHA() takes. Previously only the time to stitch call graph after all info has been gathered was logged

[2020-12-18 09:57] #153 closed

[2020-12-18 15:14] MihhailSokolov commented on #144
Implemented in a8af2efe708d0beccdc7e162b1ebbd099e1d1c7f

[2020-12-18 15:14] #144 closed

[2020-12-20 23:16] gousiosg opened #180 "Optimize database storage size"
The Postgres database for Java is currently > 15TB on a (zlib) compressed filesystem (Python (75GB) and C (1.5GB) are still manageable). In addition to the server space being depleted very fast, this makes all operations (stitching, backups etc) very slow.

The following queries reveal the biggest offenders:
[code]

In `callables` there is lots of duplication in the JSON fields, which is easy to a

[2020-12-20 23:27] gousiosg commented on #173
Or add support for Java > 8 to OPAL ourselves

[2020-12-21 12:11] gousiosg commented on #180
@StefanosChaliasos @vitsalis How would the above affect the Python and C databases, respectively?

[2020-12-21 12:47] #172 closed

[2020-12-21 12:47] #160 closed

[2020-12-21 13:26] cg122 opened #181 "Performance issue when writing code metrics to the metadata DB"
## Performance issue when writing to the metadata DB

Currently we have deployed the [Quality Analyser plugin](https://github.com/fasten-project/fasten/tree/develop/analyzer/quality-analyzer) at monster to store code quality metrics from Kafka to metadata DB. The progress is very slow considering code metrics of 778M callables to write.

Our plugin relies heavily on query to find callables in the

[2020-12-21 13:39] MihhailSokolov commented on #181
This has already been solved here https://github.com/fasten-project/fasten/issues/170#issuecomment-745579355

[2020-12-21 15:19] vitsalis commented on #180
For Python, we do not store any receiver objects nor metadata so the above changes won't affect the functionality of the DB. The only change that would be required would be migrating the database which I suppose can be done in exactly the same way as with Java.

[2020-12-21 15:53] gousiosg commented on #180
I am not sure we can migrate, as currently the remaining space on the server is << the space occupied by `edges`.

[2020-12-21 16:46] StefanosChaliasos commented on #180
I think that for both C and Python, we won't have a problem. If we cannot do migrations, then we have to re-run the MetadataPlugin for all packages. This is very quick in C's case; for Python, it could up to a month.

[2020-12-22 10:49] gousiosg commented on #180
@ashkboos @ilyagrishkov If we create an extra `namespaces` table, how will the performance of the merging algorithm be affected?

[2020-12-22 10:54] cg122 commented on #169
Yes, I think it is a duplicate to #167 and #168

[2020-12-22 14:19] gousiosg commented on #181
[code]

[2020-12-22 19:04] dspinellis commented on #180
Regarding migration, I think there is a way to avoid rerunning all the processing by utilizing space we have on *lima*.  Here is a sketch.

1. Create a map from `receiver_uri` into `id` and store it in a file `receiver_uri_map`.

[code]

2. Create a file containing our current `edges` table, ordered by `receiver_uri`.
3. Drop the `edges` table.
4. Create the `namespaces` table from `receiver_uri_m

[2020-12-22 21:30] gousiosg commented on #180
@dspinellis Unfortunately, `receiver_uri`s are stored as an array in each `edge` row, so the proposed query and joining with Unix tools to will not work.

Moreover, to sort 40B rows (x 2 receivers on average), Postgres will need several TBs of temp space, which we don't have.

[2020-12-22 22:29] dspinellis commented on #180
Ouch! I was hoping they would be indexed and thus we would avoid the temporary, but this won't work with array elements. I should have caught this when we were designing the schema.  Sorry.

Could we provide Postgres with some network mounted space and move there the current `edges` table?  With its current structure there no benefit in having it on fast storage for the migration step.  How much t

[2020-12-23 09:16] gousiosg commented on #180
We designed the `edges` table to keep the array of receivers as part of the edge row because the alternative would be worse. In a fully normalised schema, we would need to have the `namespaces` table and an intermediate table between `edges` and  `namespaces`. With out current dataset statistics (we have only stored ~1M Maven artifacts), we would need to store 40B edges x ~2 namespaces and join th

[2020-12-23 10:12] zikanl opened #182 "Writing metadata to the callables table unsuccessful although no exception thrown"
When writing metadata to the callables table, log from plugin indicates that metadata is written, while the metadata is not concatenated as expected. Below is the trace, the SQL command (executed afterward) produces the following result:

[code]

The trace is:

[code]

[2020-12-23 10:15] zikanl commented on #181
I am afraid this is related to our case. We first have the performance issue with table module_contents that is not indexed. It takes usually around 4-5 minutes to execute a (simple) command to find corresponding module_ids for given file_id. Once that is resolved, we could move to writing to the database, and issue #181

[2020-12-23 10:22] gousiosg commented on #182
@zikanl from the trace you have included here, I don't see what the problem is. You are not inserting any new metadata to the metadata field (2nd line in your trace).

[2020-12-23 10:35] gousiosg commented on #181
Those slow join queries typically indicate a missing index. We have disabled indices on join conditions for insertion performance reasons. You can see which indices have been disabled here: https://github.com/fasten-project/fasten/wiki/Metadata-Database-Schema#sql-to-create-database-tables

The `module_contents_file_id` index is currently being created; your query should be instant when it is done

[2020-12-23 10:36] gousiosg commented on #181
BTW, the original question was about `callables`, not `module_contents`

[2020-12-23 13:10] zikanl commented on #181
Thanks for the info - my question then is when could we expect this table to be indexed, i.e. this "indexing" process to complete? A precision of a week would be a good estimate. TIA

[2020-12-23 13:12] zikanl commented on #181
The question is related to the performance when writing to the database. This consists of a number of steps and all of them contribute to the overall performance. I pointed out to one, and hopefully there are no other performance-related issues among other steps (to be checked).

[2020-12-23 13:13] zikanl commented on #182
Thanks, will check on this.

[2020-12-23 13:54] ashkboos commented on #169
8e40cbc

[2020-12-23 13:55] ashkboos commented on #169
@cg122 Would you please check if the problem still exists?

[2020-12-23 14:55] cg122 commented on #169
@ashkboos Thanks. No exception now for the above tested example.

[2020-12-23 14:58] ashkboos commented on #167
@tmortagne Would you please check if the problem still exists?

[2020-12-23 14:58] ashkboos commented on #168
@tmortagne Would you please check if the problem still exists?

[2020-12-23 14:59] #169 closed

[2020-12-23 17:23] dspinellis commented on #180
The following script could normalize the `edges` table to use a `BIGINT` for `receiver_uri`. Currently works on a sample. Replace `edges_sample` with `edges` for the final run.  Note that in a sample I am getting a slightly different number of rows as a result. Either we have a bug in how we aggregate receivers (I thought over `source_id`, `target_id`, `metadata`), or I am misunderstanding somethi

[2020-12-23 21:00] gousiosg commented on #180
Beautiful! The migration plan will be as follows:

- [ ] Create a ZFS snapshot of the Postgres partition on `monster`
- [ ] Copy the ZFS snapshot to `lima`, create ZFS snapshot there
- [ ] Run the migration script on `lima`
- [ ] Create a ZFS snapshot on `lima`, move REST API DB endpoint to `lima`
- [ ] Remove the Postgres volume on `monster`
- [ ] Copy the `lima` Postgres volume to `monster`
- [

[2020-12-23 22:05] gousiosg commented on #180
WRT not getting the same edges, the following query reveals where they come from:

[code]

Those are edges having the same source and target ids. Upon further investigation, this is due to a minor issue in the OPAL CG generator. It is not a problem if they are deleted.

[2020-12-23 22:46] dspinellis commented on #180
* I see that Postgres is taking a full CPU load.  Shouldn't database operation be stopped while running the process?
*  Note that I haven't addressed `callables`, but they seem to be orders of magnitude fewer.
* We also need to adjust the way records are added to the database and create a compatibility view.

[2020-12-24 15:25] ilyagrishkov commented on #180
It will require additional joins, so merge might become slightly slower.

[2020-12-25 14:57] #87 closed

[2020-12-26 11:16] tmortagne commented on #168
Cannot reproduce anymore.

[2020-12-26 11:16] tmortagne commented on #167
Cannot reproduce anymore.

[2020-12-26 12:46] #167 closed

[2020-12-26 12:46] #168 closed

[2020-12-27 22:38] gousiosg commented on #180
The script was running for ~1.5 hours for a sample of around 4M. After investigating, it looks like Postgres (or this particular expression) does not like a lot the `select` that is part of the field list when creating the `normalized` sub-table. After rewriting this as a join, it finished in 38 seconds!

[code]

[2020-12-28 23:12] dspinellis commented on #180
I had a bad feeling about the inner `SELECT id from namespaces WHERE name = receiver_uri`, but couldn't think of a reason why a join would perform faster.  I reasoned that if the inner select had a cost of log N, the total cost would be N log N.  For the join to be fast, the `namespaces` table would need to be sorted, which is also an N log N operation.  I guess I didn't realize that `namespaces`

[2020-12-29 10:33] gousiosg commented on #173
From the OPAL project front page:

[2020-12-30 22:08] gousiosg commented on #180
It looks like we will not be getting a dramatic size reduction if we apply the transformation discussed above. For 4k random edges, the numbers look like the following:

[code]

We can expect a 30% smaller table.

We can gain a bit more if we make the `metadata` field nullable (saving 4 bytes per edge).

[2020-12-30 22:23] dspinellis commented on #180
That's disappointing.  I wish my math would allow me to avoid asking this (maybe silly) question, but won't the savings increase as we process more edges?  I would expect the cost of storing `metadata` to be amortized over a larger number of records.

Regarding the cost savings of `null`, my understanding [from the documentation](https://www.postgresql.org/docs/current/storage-page-layout.html) is

[2020-12-31 10:50] gousiosg commented on #180
Since my math is at best as good as yours, I 've decided to check this:

| num_records | gain (%) |
| --- | --- |
| 4096 | 27,0 |
| 40960| 26,4 |
| 409600| 27,1 |
| 4096000| 26,7 |

Apparently, since we are doing random sampling, we should expect the sample to represent the population, so the gain should be the same across the whole table.

Unfortunately, it looks like we are paying a high fixed c

[2021-01-02 13:19] MihhailSokolov commented on #93
Done in 6d5a9a6

[2021-01-04 21:04] MihhailSokolov commented on #163
Resolved in b054f34318f9fe613c45c4b279d16fcbf2ce85a7
@vigna Could you please confirm?

[2021-01-05 11:12] #165 closed

[2021-01-05 11:15] #154 closed

[2021-01-05 11:16] #152 closed

[2021-01-05 11:19] #124 closed

[2021-01-05 15:35] zikanl commented on #181
Resolved with table indexing.

[2021-01-05 15:35] #181 closed

[2021-01-06 12:08] #127 closed

[2021-01-06 12:10] MihhailSokolov commented on #121
The required functionality has been implemented in 447e419.
As soon as we clean the database and restart the writing to it, this issue will be resolved.

[2021-01-08 13:54] MihhailSokolov commented on #180
Here is the SQL to create a new (optimized) schema:
[code]

[2021-01-11 09:29] MagielBruntink commented on #38
This issue is caused by the MavenResolver, which in its current implementation uses Linux tools (eg. bash, grep, awk, sed, uniq, sort) to process Maven's output. See code [here](https://github.com/fasten-project/fasten/blob/0c829ec7f1fdb021b687224287a137f47ff83a85/core/src/main/java/eu/fasten/core/maven/MavenResolver.java#L281).  A better solution would be to use the [Maven Invoker](http://maven.a

[2021-01-12 15:45] #182 closed

[2021-01-14 08:22] amottier commented on #140
@ashkboos did you get a chance to take a look at this issue? I just tried again with latest version currently available on `develop` branch and I'm still not able to get an accurate call graph.

[2021-01-14 18:29] MagielBruntink opened #195 "Duplicate arcs in some call graphs in the FASTEN KB, causing issues when running (local) merger"
## Describe the bug
Some callgraphs obtained from the API contain duplicate arcs. This crashes the (local) merger. One example is the call graph for ch.qos.logback:logback-classic:1.2.3, which is attached [here](https://github.com/fasten-project/fasten/files/5816201/ch.qos.logback_logback-classic_1.2.3.json.zip).

The offending arc 943 can be seen in the JSON file at lines 17977-17978 and again at

[2021-01-14 22:28] MagielBruntink opened #196 "Java call graph generation and output sometimes consumes excessive memory (tracking list)"
## Describe the issue
Generating call graphs and outputting them (to JSON) consumes excessive memory and then fails. This issue is meant to keep track of such cases.

## To reproduce
[code]

## Examples
Coordinate | VM heap memory | FASTEN version | CG | output | available at KB
-------------|---------------------|-------------------|-----|--------|--------
it.unimi.dsi:fastutil:8.4.4 | 24G | e8e9

[2021-01-15 13:40] MihhailSokolov opened #197 "NullPointerException when requesting transitive vulnerabilities"
## Describe the bug
When sending the GET request to `/__INTERNAL__/packages/org.apache.struts:struts2-core/2.3.0/vulnerabilities`, the REST API throws a `NullPointerException`

## Logs
[code]

[2021-01-15 13:44] MihhailSokolov opened #198 "REST API timeout"
## Describe the bug
Some of the requests result in the 504 Timeout even though they should be rather quick.
Example is the GET request to `https://api.fasten-project.eu/api/mvn/packages/com.amazonaws:aws-java-sdk-iotjobsdataplane/1.11.357/callables?limit=50`

[2021-01-15 21:52] gousiosg commented on #198
This is clearly a problem with the database. The query that gets effectively executed is the following:

[code]

I tried to run it through `EXPLAIN` to see what the optimiser thinks about it: [plan v1](https://explain.dalibo.com/plan/7YX)

It looks like the various joins are done using nested loops, which is not ideal. After searching the internetz, I found out about the `analyze` command. I have

[2021-01-15 22:48] gousiosg commented on #198
I 've tested this query on two instances of the same database, running on Postgres 12.2 (on `monster`) and 12.3 (on `lima`). `lima` has significantly less resources than `monster` and no SSDs. On 12.3, after running `ANALYZE`, the query returned instantly.

Interestingly, the query plans were different [monster](https://explain.dalibo.com/plan/39o), [lima](https://explain.dalibo.com/plan/69a). It

[2021-01-18 17:57] vigna commented on #163
If you ran the test and it does not hang, it's confirmed.

[2021-01-18 17:57] #163 closed

[2021-01-20 17:14] MihhailSokolov commented on #197
Fixed in dc6077a42744a76b7d92bb66ba1e063118831292

[2021-01-20 17:14] #197 closed

[2021-01-22 09:54] MihhailSokolov opened #200 "Improve MavenResolver"
## Describe the bug
Currently, the MavenResolver can successfully resolve the dependencies in about 50% of the cases. There seems to be an improvement using this regex: `mvn dependency:tree -DoutputType=tgf | grep -Po "[0-9]+ (([A-Za-z0-9.\-_])*:){1,6}"` instead of the one currently used.

[2021-01-22 10:23] MagielBruntink commented on #200
Hi Mihhail,

Please have a look at our solution for this, maybe it helps:
https://github.com/fasten-project/rapid-integration-tools/blob/develop/src/main/java/eu/fasten/rapid/MavenResolver.java

[2021-01-22 10:30] MihhailSokolov commented on #200
Thank you, Magiel. This looks quite useful!

[2021-01-25 14:27] tmortagne opened #201 "Add Java Class annotations to the metadata database"
For XWiki uses cases we would need have the annotations (and their values) attached to analyzed Java classes in the metadata.

[2021-01-25 14:36] tmortagne opened #202 "Cut fasten-core in two modules depending on the target use"
Currently, `fasten-core` include and depends on many things, many things which are useless and can create conflicts when used as a library for local analysis.

It would help a lot if all local analysis related tool (LocalMarger, DirectGrpah, etc.) were moved in a separate module on which `fasten-core` would depend. Then things like the Maven plugin and javacg-opal could depend on the new module in

[2021-01-26 12:41] cg122 opened #203 "Precise line numbers of callable in the generated call graph."
## Problem

Inaccurate line numbers of callable make it hard to map and insert results of QualityAnalyzer to metadata DB.

Case 1. One-line body method.

In `Lizard`, `line_start` and `line_end` are `611` and `614`, while in `OPAL CG`, they are `613` and `613`. Currently QualityAnalyzer uses the average of line numbers (floored integer) '612' to identify callable, however it is not in the range of

[2021-01-27 22:24] romatallinn opened #205 "Kbapi: latest package version not found"
## Describe the bug
Response to the general request for the package (`mvn/packages/packageName`) is supposed to include the latest version. Some requests, however, return error `Latest package version not found`.

## To Reproduce
Steps to reproduce the behavior:

GET Request: `https://api.fasten-project.eu/api/mvn/packages/org.apache.spark:spark-core`

## Expected behavior
API shall return at leas

[2021-01-27 22:41] MihhailSokolov commented on #205
There is also a problem with ordering. It uses `ORDER BY package_versions.created_at` clause when retrieving data from the database to get the latest version. However, apparently it cannot handle the `null` versions properly. For example, when sending request to get the latest version of `junit:junit`, it would respond with `3.7` even though the latest version in the database was actually `4.13`.

[2021-01-28 00:09] romatallinn commented on #205
Closed by #206

[2021-01-28 00:09] #205 closed

[2021-01-28 00:14] romatallinn opened #207 "Utility to parse FASTEN partial uri"
## Is your feature request related to a problem? Please describe.
There is a utility tool that parses Full FASTEN URI into 3 parts: package name, forge, and partial URI. Partial URI by itself is not atomic and can be split into more parts such as namespace, class, method name, and its signature. More specifically, this is needed for the frontend where a user-friendly text is wanted, instead of an

[2021-01-28 15:17] #89 closed

[2021-01-28 15:17] #93 closed

[2021-01-28 16:13] #195 closed

[2021-01-28 16:24] ashkboos commented on #195
@MagielBruntink Do you confirm that the issue is fixed?

[2021-01-28 17:01] ashkboos commented on #140
@amottier Have you tried the RTA algorithm? If you set the `-ga` CLI argument to `RTA` you won't have this missing edge anymore. I.e. use this command `-a myApp.jar -i FILE -g -ga RTA -o o.json` to generate the call graph for `myApp`. ATM the merging doesn't support RTA generation, since this functionality is mostly used as a library the CLI support is not very extensive. However, if you want you

[2021-01-28 17:46] amottier commented on #140
@ashkboos I just give a try to RTA algorithm (I was relying on [default](https://github.com/fasten-project/fasten/blob/develop/analyzer/javacg-opal/src/main/java/eu/fasten/analyzer/javacgopal/Main.java#L91) that is RCA) and it seems to provide expected result.

I did run `java -jar javacg-opal-0.0.1-SNAPSHOT-with-dependencies.jar -ga RTA -a my-app-1.0-SNAPSHOT.jar -d my-lib-1.0-SNAPSHOT.jar -i FIL

[2021-01-28 18:02] ashkboos commented on #140
@amottier by "ATM the merging doesn't support RTA generation", I meant ATM we cannot generate the CG using RTA and then pass the generated files to the merger, so you already did it in the right way.

[2021-01-28 18:15] cg122 commented on #203
# Some of Maven coordinates related to the issue

## Overlapped line nunmber of constructor methods and AOP annotation:

**product**: org.wso2.carbon.apimgt:org.wso2.carbon.apimgt.impl
**version**: 6.5.166
**source code**:  https://github.com/wso2/carbon-apimgt/blob/v6.5.166/components/apimgt/org.wso2.carbon.apimgt.impl/src/main/java/org/wso2/carbon/apimgt/impl/APIConsumerImpl.java

### Overlapped

[2021-01-28 18:31] MagielBruntink commented on #195
@ashkboos Yes, this issue seems resolved. Thanks!

[2021-01-28 18:36] amottier commented on #140
If I understand correctly you mean that if I generate individual call graph for my-app and my-lib (with options `-a my-xxx.jar -i FILE -g -ga RTA -o xxx.json`) I'll not be able to merge the two json files in a single one using `javacg-opal`. Did I correctly understand your point?

[2021-01-28 18:41] MagielBruntink opened #209 "Local merger crashes with java.lang.IllegalArgumentException: value already present"
## Describe the bug
For some Maven artifacts, the local merger crashes with java.lang.IllegalArgumentException: value already present. This happens at least for the artifacts listed below, with callgraphs attached. These were generated with the latest version of JavaCGOpal (28 Jan 2021 EOD).

[info.picocli.picocli-4.0.4.json.zip](https://github.com/fasten-project/fasten/files/5889399/info.picocli.

[2021-01-28 18:45] ashkboos commented on #140
Yes, exactly.

[2021-01-28 18:54] amottier commented on #140
Ok thanks for your help! One last question: does it makes sense to switch the default algorithm for call graph generation from `CHA` to `RTA`? Or something motivate to keep `CHA` as default?

[2021-01-28 19:02] ashkboos commented on #140
Yes, I agree that we should probably make it `RTA`, for now. Note that the reason that we use `CHA` right now is that this algorithm is the default for most of the generators. However, we are suspected that there might be a bug in the `CHA` implementation of the OPAL library that causes these missing edges. We are contacting the maintainers of the library to make sure that they fix this if it's a

[2021-01-28 19:08] #140 closed

[2021-01-29 16:17] MagielBruntink opened #210 "POM Analyzer crashes with coordinate: org.apache.commons:commons-compress:1.3"
## Describe the bug
POM Analyzer crashes unexpectedly while processing the maven coordinate org.apache.commons:commons-compress:1.3

## To Reproduce
Steps to reproduce the behavior:
1. Clone https://github.com/fasten-project/fasten-docker-deployment
2. docker-compose up (wait until everything is up)
3. `$ echo "org.apache.commons:commons-compress:1.3|{"groupId":"org.apache.commons","artifactId":"c

[2021-01-30 09:48] MagielBruntink opened #211 "NPE with RepoCloner"
## Describe the bug

NPE while running RepoCloner as plugin, seems to originate from:
`https://github.com/fasten-project/fasten/blob/d0860d060be4074740402488be13213555085600/analyzer/repo-cloner-plugin/src/main/java/eu/fasten/analyzer/repoclonerplugin/RepoClonerPlugin.java#L140`

## To Reproduce
Steps to reproduce the behavior:
1. Clone https://github.com/fasten-project/fasten-docker-deployment
2.

[2021-01-30 13:29] MagielBruntink opened #212 "Switch to slimmer openjdk base Docker image to reduce size"
## Is your feature request related to a problem? Please describe.
The FASTEN Server image is quite large (1.17 GB @latest) which slows down local development and CI actions.

## Describe the solution you'd like
Switch to a slimmer version of openjdk:11, for instance openjdk:11-slim or openjdk:11-alpine

[2021-01-30 13:39] #211 closed

[2021-01-30 13:40] MihhailSokolov commented on #211
Should be resolved by 6e99af7

[2021-01-30 16:00] MagielBruntink commented on #211
Yep, fixed, great!

[2021-01-30 17:01] romatallinn opened #213 "API: module's callables endpoint returns 200 even if module doesn't exist"
## Describe the bug
The endpoint that is meant to return the list of callables for a specific module in the package returns successful response (w/ empty set) even if module doesn't exist for the package.

## To Reproduce
**POST** `https://api.fasten-project.eu/api/mvn/packages/jboss:jbossmq-client/3.2.3/modules/callables`
With body: `abcde` (random string)

-> returns 200

## Expected behavior
Th

[2021-01-31 18:23] MagielBruntink opened #215 "POM Analyzer crashes on malformed input"
## Describe the bug
This is a reliability issue that we should fix to make things more stable in production. POM Analyzer has a tendency to crash if its input is not as expected, see an example below. It will be better if POM Analyzer would instead log an error to fasten.POMAnalyzer.err if it really cannot handle a message, and then proceed to read the next one. Currently, it crashes, and upon res

[2021-01-31 18:30] MagielBruntink commented on #210
This issue was caused the input being malformed, not the Maven coordinate. Related to https://github.com/fasten-project/fasten/issues/215#issue-797776665 , closing this issue.

[2021-01-31 18:30] #210 closed

[2021-02-01 09:28] tmortagne opened #216 "Missing callables for org.apache.commons:commons-lang3 3.9 on api.fasten-project.eu"
I can see that Apache Commons Lang3 exist on the FASTEN Central metadata database (see https://api.fasten-project.eu/api/mvn/packages/org.apache.commons:commons-lang3/3.9/metadata) but the metadata database does not seem to contain any of its callables (https://api.fasten-project.eu/api/mvn/packages/org.apache.commons:commons-lang3/3.9/callables).

Callables can be seen on https://api.fasten-proje

[2021-02-01 09:33] tmortagne opened #217 "/metadata/callables endpoint return 404 if one of the callables is not found"
## Describe the bug

Because of https://github.com/fasten-project/fasten/issues/216 callables of Apache Commons Lang3 are not found. Problem is that when you call `/metadata/callables` and one of the callables cannot be found the whole response is a 404.

## To Reproduce

URL: https://api.fasten-project.eu/api/metadata/callables
METHOD: POST
Content-Type: application/json
Content: `["fasten://mvn!

[2021-02-01 09:48] mir-am commented on #212
I'll investigate this issue. Aside from the OpenJDK size, some plugins might have dependencies that can be excluded safely before building their JAR files.

[2021-02-01 11:26] romatallinn opened #218 "API: return user-friendly describers for callables"
## Is your feature request related to a problem? Please describe.
[Fasten-project/fasten-web](http://github.com/fasten-project/fasten-web) needs user-friendly describers for callables. By default, it is a large, hardly-readable string of partial FASTEN URI format. For the frontend to be user-friendly, it needs to display to the user parameters with clear and readable text. Otherwise, the platform

[2021-02-01 11:29] #207 closed

[2021-02-01 11:56] #215 closed

[2021-02-01 12:12] #217 closed

[2021-02-01 12:16] MihhailSokolov commented on #216
@tmortagne looks like the metadata plugin wasn't able to process the record from OPAL containing this CG, because the database does not contain any callables of `org.apache.commons:commons-lang3:3.9`
[code]
It might be related to the issue that @MagielBruntink and @wzorgdrager were discussing regarding the record size and Kafka not being able to handle records that are too large.

[2021-02-01 14:01] tmortagne commented on #216
If Commons Lang CG is too big I'm afraid we are going to miss quite a lot of other artifacts.

[2021-02-01 15:14] tmortagne opened #220 "/metadata/callables return an error 500 when trying to get metadata for a not existing callable"
## To Reproduce

Endpoint: `https://api.fasten-project.eu/api/metadata/callables`
METHOD: `POST`
Content-Type: `application/json`
Content: `["fasten://mvn!org.incava:java-diff$1.1/org.incava.util.diff/Difference.%3Cinit%3E(%2Fjava.lang%2FIntegerType,%2Fjava.lang%2FIntegerType,%2Fjava.lang%2FIntegerType,%2Fjava.lang%2FIntegerType)%2Fjava.lang%2FVoidType"]`

Respond with an error 500 without any spe

[2021-02-01 15:38] tmortagne commented on #216
I can reproduce the same problem with https://api.fasten-project.eu/api/mvn/packages/org.incava:java-diff/1.1/callables and https://api.fasten-project.eu/api/mvn/packages/xmlpull:xmlpull/1.1.3.1/callables both very small.

[2021-02-02 10:38] marcomicera commented on #98
Done in 86fe6118644794ab4f5f2382c91e013ae6421240.

[2021-02-02 10:38] #98 closed

[2021-02-02 10:59] marcomicera opened #221 "How to pass argument to plugins when launched from server JAR"
I used to run my plugin as a standalone, like this:

[code]

As you can see, I was using the `clusterCredentials` Maven property and a `--namespace` CLI argument for the [license plugin](https://github.com/fasten-project/fasten/tree/endocode/compliancePlugin/analyzer/compliance-analyzer).

---

Now I have to run it from the server:

[code]

and I don’t know how to pass these two parameters to my p

[2021-02-02 11:27] marcomicera opened #222 "Synchronous license plugin's Kubernetes deployment"
The [license and compliance plugin](https://github.com/fasten-project/fasten/tree/endocode/compliancePlugin/analyzer/compliance-analyzer) deploys Kubernetes resources to detect licenses. The [open source project](https://github.com/qmstr/qmstr) being used by this plugin is managed by the Linux Foundation, and major architecture decisions lie with it.

In short, it consumes a repository URL from [`

[2021-02-02 12:08] marcomicera opened #223 "Come up with license compatibility rules"
D4.4 expects the [license and compliance plugin](https://github.com/fasten-project/fasten/tree/endocode/compliancePlugin/analyzer/compliance-analyzer) to express compatibility issues when using multiple licenses.
We expect we will need a matrix that pairs licenses and contains compatibility metrics, e.g., an "incompatibility index", a severity level, etc.

The license compatibility matrix would lo

[2021-02-02 12:15] marcomicera opened #224 "Implement a license feeder plugin"
The [license and compliance plugin](https://github.com/fasten-project/fasten/tree/endocode/compliancePlugin/analyzer/compliance-analyzer) produces a [`fasten.qmstr.out` record](https://github.com/fasten-project/fasten/wiki/Kafka-Topics#fastenqmstr) containing licenses at the file level.

In order to store such findings into the Knowledge Base, there needs to be a plugin that consumes such a messag

[2021-02-02 12:21] wzorgdrager commented on #222
I was thinking about this again; isn't there a way to run `quartermaster` as a library in your plugin? This would make everything much easier as I'm expecting you need to cover _a lot_ of corner cases to deal with deploying pods on the fly. Some of these cases include: 1) your compliance plugin being in a crash loop, it will launch pods and not clean them up and 2) your compliance plugin needs to

[2021-02-02 12:35] wzorgdrager commented on #222
Or if it's hard to implement in the code, maybe run it _within_ the same pod/container as the license/compliance plugin?

[2021-02-02 18:46] MagielBruntink commented on #209
Dear @ashkboos could you please look into this issue? It is currently blocking our progress with local analysis.

[2021-02-03 10:24] wzorgdrager opened #226 "Local storage for at least once not working with multiple partitions"
## Describe the bug
For FASTEN Server we have the option to enable `local storage`. This writes the SHA of a Kafka message to local storage when consuming it. Then when a new message is read, its compared against the SHA in the local storage and the message is discarded when both SHA's are equal. We have to measure to prevent 'deadlocks' in plugins like OPAL. These plugins can run out of memory an

[2021-02-03 10:40] MagielBruntink commented on #212
Just did some test builds to see size differences:
[code]
Note: the alpine images cause a problem with the graph DB due to differences in the included libc.

Including all the plugin jars is the biggest contributor to the size; we should consider splitting up and releasing a separate image for each plugin.

[2021-02-03 13:48] marcomicera commented on #222
I thought about it a lot and my conclusion is that: no, it cannot run as a library by nature.

This is a great idea. I would have to drop the plugin's JAR file, though. Can I? @wzorgdrager

[2021-02-03 13:51] wzorgdrager commented on #222
What do you mean with that? We can just add the quartermaster jar file/executable in the Docker container so that you can access this from the same container as the plugin. We might need a slightly different Docker image than we built in this repo, but that should be relatively easy to setup.

[2021-02-03 13:57] marcomicera commented on #222
I think I got it: we can still containerize the plugin's JAR file, but it should deploy local Docker containers instead of Kubernetes resources, right? Otherwise, the (on-the-fly) Pods management problem would still persist...

[2021-02-03 14:01] romatallinn opened #227 "API: endpoint for transitive vulnerabilities"
## Description
Although endpoint for transitive vulnerabilities is present in API, it is currently not working.

For example,

**GET** `https://api.fasten-project.eu/api/__INTERNAL__/packages/org.springframework.boot:spring-boot-starter/1.5.14.RELEASE/vulnerabilities` returns `500`.

Some other packages are getting timeout exceptions.

## Solution
The endpoint must return the list of transitive(!)

[2021-02-03 14:02] #213 closed

[2021-02-03 14:03] wzorgdrager commented on #222
No, what I mean is that currently, the flow is roughly like this:
[code]
I propose to change it like this:
[code]
So step 2 is executed _within_ the same Docker container as where the plugin runs. No external containers or pods are launched.

Technically you could execute step 2 using something like:
[code]
and then wait for it to finish. However, there probably exists nicer ways to implement this

[2021-02-03 14:14] marcomicera commented on #222
Sadly, there's no `quartermaster.jar`.
Quartermaster is a distributed app that runs natively on k8s, so it consists of multiple Kubernetes resources (simplified version [here](https://github.com/fasten-project/fasten/tree/endocode/compliancePlugin/analyzer/compliance-analyzer/src/main/resources/k8s)).

So if I containerize the plugin's (PF4J) JAR, it would still have to manage the k8s Pods that it

[2021-02-03 14:24] wzorgdrager commented on #222
How do you consume from Kafka then? How do you ensure that Quartermaster keeps on processing new releases/artifacts?

I'm not sure how Quartermaster works, but it needs an executable right (even if you run it inside a separate K8s pod). Why not execute this executable directly in the plugin container. I.e. substitute  `quartermaster.jar` with whatever command quartermaster uses to run.

[2021-02-03 14:30] wzorgdrager commented on #222
If there are parts of quartermaster that need to run permanently we can just add those a separate deployment. We just want to avoid launching new pods or containers for _each_ Kafka message.

[2021-02-03 14:58] marcomicera commented on #222
Oops, you're right, my bad. We definitely need the plugin's (PF4J) JAR file.

No, at the moment there are no stateful components in Quartermaster.

Sadly there's no single executable. [Here](https://github.com/fasten-project/fasten/tree/endocode/compliancePlugin/analyzer/compliance-analyzer/src/main/resources/k8s) you can see why: it's a modular application that needs at least a RabbitMQ and a DGr

[2021-02-03 15:09] wzorgdrager commented on #222
Does it need this setup _per_ Kafka message it consumes? (i.e. a rabbitmq, dgraph and other containers per Kafka message?)

[2021-02-03 15:15] marcomicera commented on #222
Unfortunately, yes. Quartermaster will treat them as stateful components in the future.

[2021-02-03 15:57] proksch commented on #222
Ok, maybe we should take a step back here... we have an infrastructure that allows heavily-parallel processing in a data pipeline architecture. The idea that has been communicated from the get-go is that we have analyzers on different levels that integrate into this infrastructure. These analyzers consume information from the outside, perform local computation, and persist results in the knowledge

[2021-02-04 07:48] gousiosg commented on #222
On a practical side, what you should do @marcomicera would be to modify the Quartermaster build process to: 1. use an externally accessible Kafka instance instead of RabbitMQ, 2. use an externally accessible dgraph instance. Then, you should provide us with a kubernetes manifest(s) that deploys dgraph and your building process. This is the bare minimum to have Quartermaster deployed on our cluster

[2021-02-04 08:35] mir-am commented on #221
The FASTEN server doesn't accept arbitrary CLI inputs. Therefore, we need to add a new CLI argument for passing `clusterCredentials` to the license plugin.
Regarding the issue #222, I don't know what's the plan for the deployment of the license plugin. When a deployment plan is devised, we'll see if a new CLI argument should be added to the FASTEN server.

[2021-02-04 14:19] #209 closed

[2021-02-04 14:20] ashkboos commented on #209
@MagielBruntink Is this fixed now?

[2021-02-04 16:51] MagielBruntink commented on #209
Hi @ashkboos yes it is, thank you!

[2021-02-04 19:28] wzorgdrager commented on #227
The related log to this 500 error:
[code]

[2021-02-05 08:05] mir-am commented on #212
Thanks for the tests.
I am working on this in #228. Based on the initial test, the overall size of the image with `openjdk:11-jre-slim-buster` is around 712MB. The OPAL seems to work fine. However, other plugins should be tested.

Also, I've decreased the size of OPAL plugin's JAR to less than 100MB. Plugins mostly inherit dependencies from the `core` module that they may not need.

[2021-02-05 09:04] vigna opened #230 "Make iteration over results of GraphMavenResult consistent"
Presently, GraphMavenResolver performs breadth-first visits, but results are stored in a HashSet, resulting in the following issues:

- it is impossible to iterate over the result in order of distance;
- the iteration order is unpredictable.

These problems can be easily fixed by replacing the current java.util.HashSet holding the results with a java.util.LinkedHashSet, or, even better, with a it.

[2021-02-05 09:18] vigna opened #231 "mergeWithCHA() throws NullPointerException and OutOfMemoryError"
The release of the prototype search engine has made running a large number of stitching easy and necessary. But trying to run a coreachability query on a popular package like commons-lang3 yields several instances of NullPointerException and OutOfMemoryError from mergeWithCHA(). These can be easily replicated by checking out the "se" branch, and running the search engine on tehran:
[code]
For exam

[2021-02-05 09:52] vigna opened #232 "Support JDK's extended tags"
We started using consistently in the Javadoc documentation the new tags defined by this [JEP draft](https://openjdk.java.net/jeps/8068562) and now common in JDK's API. However, support under Maven requires the following blurb in the (now non-existing) configuration for the Javadoc plugin. I don't know the best level to set this in—the general POM? the core POM?

It would be nice if someone with mo

[2021-02-05 10:14] elanzini opened #233 "[VULN] Check files extension + Validate PURLs published + Drill-down"
- Check the file extension before querying the DB in order to optimize the number of queries, supported extensions should be  `{.java, .py, .c, .cpp}`
- Validate PURLs before publishing the vulnerability. Write only PURLs that were successfully injected in the KB
- Implement drill-down for `apache` projects. If a vulnerability affects `org.apache.kafka:kafka`, it will probably also affect a submod

[2021-02-05 10:45] MagielBruntink opened #234 "MetadataDatabasePythonPlugin generates unexpected file path in the DB"
## Describe the bug
After processing output from PyCG, the MetadataDatabasePythonPlugin generates some inconsistently constructed path entries.

See the [CSV](https://github.com/fasten-project/fasten/files/5931850/data-1612521172606.zip) extracted from the metadata DB  for several analyzed products:
- namesss 0.1.0
- edgar3 0.1.0 - 1.1.8
- Damian-Skier-92 0.1.1
- gen-name-szczep 0.1.0 - 0.1.2

For

[2021-02-05 11:22] MagielBruntink commented on #234
@vitsalis Is this something you could look into please?

[2021-02-05 11:34] vitsalis commented on #234
Does this regard a new deployed pipeline? I can't find the source directory on monster.

[2021-02-05 12:07] vitsalis commented on #234
Nevermind, managed to reproduce the bug and pushed a fix on the `pypi-tools` repo. Thanks for finding this!

[2021-02-05 12:26] MagielBruntink commented on #234
Great! In any case, I'm running these pipelines locally:
1. `git clone git@github.com:fasten-project/fasten-docker-deployment.git`
2. `cd fasten-docker-deployment`
3. `git branch pypi-metadata-debug`
4. `source start_debug_pypi_services.sh`
5. `cat test-resources/pypi.coords.txt | docker-compose exec -T kafka kafka-console-producer.sh --broker-list kafka:19092 --topic cf_pypi_releases --property '

[2021-02-05 19:43] MagielBruntink commented on #234
Thanks for the fix! Any chance you could push a new image to Dockerhub (or Github packages)?

[2021-02-06 07:12] vitsalis commented on #234
Sure! Just did that.

[2021-02-06 09:19] MagielBruntink commented on #234
Thanks! The issue is resolved indeed, I just tested a full run.

[2021-02-06 09:19] #234 closed

[2021-02-08 08:55] elanzini commented on #233
@MihhailSokolov do you know if there is any other extension that I am missing there?

[2021-02-08 09:19] MihhailSokolov commented on #233
I don't think so. But maybe also add `.pyw`? But regarding Python and C better ask @vitsalis and @StefanosChaliasos

[2021-02-08 11:17] cg122 commented on #203
org.apache.logging.log4j:log4j-api:2.13.3

Metadata DB entry:
fasten_uri: /org.apache.logging.log4j.util/ProcessIdUtil.getProcessId()%2Fjava.lang%2FString
line_start:25
line_end:27

Source code:
[code]

[2021-02-08 17:57] #198 closed

[2021-02-08 18:00] MihhailSokolov commented on #227
I've increased a timeout to 1 minute (fb7c478) and implemented a more efficient but less precise way of finding the vulnerable paths (675bac3) - now it will stitch only those transitive dependencies that are in any path to any vulnerable dependency instead of stitching everything. Hopefully, this resolves this issue.
P.S. I cannot really do anything useful regarding that 500 error because it is ca

[2021-02-09 07:39] StefanosChaliasos commented on #233
Probably you may add `.h` for C.

[2021-02-09 11:46] tmortagne opened #237 "/metadata/callables return empty metadata"
## To Reproduce

Enpoint: https://api.fasten-project.eu/api/metadata/callables
Method: POST
Content-Type: application/json
Content: ["fasten://mvn!org.ow2.asm:asm$7.0/org.objectweb.asm/Label.%3Cinit%3E()%2Fjava.lang%2FVoidType"]

-> return:

[code]

## Expected behavior

I don't understand why the returned metadata is empty. According to https://api.fasten-project.eu/api/mvn/packages/org.ow2.asm:a

[2021-02-09 11:49] tmortagne commented on #112
An implement of such a tool has been started in the Maven plugin, see https://github.com/fasten-project/fasten-maven-plugin/blob/master/src/main/java/eu/fasten/maven/StitchedGraph.java.

[2021-02-09 19:01] #218 closed

[2021-02-09 19:50] MihhailSokolov commented on #237
@tmortagne this endpoint must also either provide a list of metadata fields you are interested in or you must add `allAttributes=true` if you wish to request all available metadata. If you don't specify anything, then by default it is regarded as if you provided the empty list of attributes you are interested in, so it will return an empty object. See https://github.com/fasten-project/fasten/wiki/

[2021-02-09 21:54] tmortagne commented on #237
OK thanks @MihhailSokolov.

It feels a bit strange that API is basically doing nothing when we don't pass any parameter, I would have expected to get everything by default. Then the only parameter needed is `attributes`.

[2021-02-09 22:04] MihhailSokolov commented on #237
The idea was that the REST API should do the minimal amount of work unless specified otherwise, but if you feel that as a client it would be much mire convenient to have all metadata by default, I can easily change it. Should not take more than 2 minutes :)
So should I change it then?

[2021-02-10 08:31] tmortagne commented on #237
I understand, it's just that here it actually does nothing which might come as a surprise :) Maybe it should return an error for missing mandatory parameters instead ?

[2021-02-10 09:02] MihhailSokolov commented on #237
Yes, this seems like a fine solution, I will implement it.

[2021-02-10 10:42] romatallinn opened #238 "API: Rename keys for method signature in module callables endpoint"
## Describe the bug
The keys for method readable format are inconsistent with others.

## Steps to Reproduce
**POST** `https://api.fasten-project.eu/api/mvn/packages/jboss:jbossmq-client/3.2.3/modules/callables`
**With body:** `/org.jboss.mq/AcknowledgementRequest`

## Expected behavior
Instead of `methodName` and `methodArgs` it should be `method_name` and `method_args`.

## Additional context
Re

[2021-02-10 11:11] romatallinn commented on #227
Does it throw an exception? Maybe we can try-catch it and then ignore it in order to escape `500` error? So we have at least some response to work with.

[2021-02-10 12:31] romatallinn opened #239 "API: filter non-viable packages from search result"
## Describe the bug
The search query may result in packages for which the system has no information available (no Package Versions at all).

## To Reproduce
**GET** `https://api.fasten-project.eu/api/mvn/packages/org.ow2.petals:petals-registryoverlay-junit`

## Expected behavior
Filter out such packages; do not include them in the response.

[2021-02-11 09:17] wzorgdrager commented on #226
Solved in #236, tested on the cluster with OPAL. Seems to work properly :)

[2021-02-11 09:17] #226 closed

[2021-02-11 16:00] #212 closed

[2021-02-12 08:51] wzorgdrager opened #240 "Don't print Kafka offset commits if they are empty"
FastenKafka server prints the committed offsets. This can be useful because you can see which messages are properly read, processed and committed. However, it also prints when nothing is actually committed (i.e. when no messages are read. This clutters the logs over time.
[code]

A simple if statement here: https://github.com/fasten-project/fasten/blob/6cd539a7a39377cceee684afa85aa6a7c618a157/serv

[2021-02-12 10:39] #240 closed

[2021-02-12 14:52] mir-am opened #242 "Convert hard-coded properties in the REST API to K8s ConfigMaps"
It is not a good practice to hard-code addresses and properties in the code. In the deployment, we can create K8s ConfigMaps to define env. variables that can be used in the REST API to retrieve required properties such as DB address. This is already done for the metadata plugin.

[2021-02-13 15:56] #242 closed

[2021-02-14 14:53] ilyagrishkov commented on #231
Records are now fetched in batches of size 10000. OutOfMemoryError should be solved now.

[2021-02-14 14:57] ilyagrishkov commented on #231
NullPointerException should no longer be thrown, rather `mergeWithCHA()` method will return `null` if artifact is not present in GraphDB

[2021-02-15 11:43] #237 closed

[2021-02-15 11:55] vigna commented on #231
Did you try the replication instructions? Because presently we still have

[code]

for the same query as above.

Note that to replicate you now have to use a different JDBC URI: `jdbc:postgresql://172.16.45.123/fasten_java`

[2021-02-15 12:21] ilyagrishkov commented on #231
New changes have been merged to `develop` branch. From this stacktrace I can see that you are still running the old version. I checked `se` branch and it doesn’t have any of the latest changes to dbMerge. Please merge `develop` into your branch and try again. Let me know if something doesn’t work.

[2021-02-15 12:26] vigna commented on #231
Argh. Out of habitude, I merged with master. I forgot we have a master called develop. 😂

[2021-02-15 12:31] vigna commented on #231
OK. Now we get the remainder from Postgres
[code]
As I already explained in the meeting, lazy iterating over the result is the correct way to handle this.

[2021-02-15 13:01] vigna commented on #231
With the new modifications, we get
[code]

The code has been stuck for 20 minutes inside the arcs.forEach() iteration at line 234 of DatabaseMerger. After a little more time,
[code]

This will need to be addressed if we intend to do ecosystem-wide searches as planned.

[2021-02-15 13:10] ilyagrishkov commented on #231
I will set auto commit to false for the dbMerge Postgres connection to avoid this remainder.

The second issue seems more serious. Did it output the stitched call graph after 1464 seconds or did it fail completely?

[2021-02-15 13:12] vigna commented on #231
It did output—see the last line of log I reported.

However, OutOfMemoryErrors still happen:
[code]

[2021-02-15 13:57] vigna commented on #231
BTW, the very first paragraph of `fetchSize()`'s documentation states clearly:
[code]
So, once again: lazy is the only way to make this work.

[2021-02-15 14:44] ilyagrishkov commented on #231
`fetchLazy()` method is not the only way to. Alternatively one can fetch Stream and it will allow for lazy fetching as far as I understand.
https://www.jooq.org/doc/3.2/manual/sql-execution/fetching/lazy-fetching-with-streams/

[2021-02-15 14:47] vigna commented on #231
OK, so the jOOQ documentation is wrong and you know better.

Good luck with the OOM.

[2021-02-15 16:16] proksch commented on #231
As Ilya has rightfully pointed out from the documentation, it sounds like `fetchStream` could be another valid solution... If you think that this is not the case, then please enlighten us. Another option is that -maybe- you guys just found an inconsistency in the jOOQ documentation and this should be reported. In any case, lashing out like this does not seem to be a nice way to treat someone that

[2021-02-15 18:39] vigna commented on #231
`fetchStream()` is what presently is used the code (line 369 of DatabaseMerger.java).

`fetchStream()` is still throwing an out-of-memory exception.

Our development is, of course, blocked.

You seem to be much more than experienced with me with jOOQ (I just learned !), so I'll let you guys take it from here. Sorry for any misunderstandings. :)

[2021-02-15 20:00] proksch commented on #231
Dear @vigna, sorry to hear that you are feeling this way. I can neither understand, nor endorse your reaction though and I really do not appreciate the passive-aggressive tone of your comments. If you want to move on, fine, I will consider this issue solved. Feel free to re-open, if you plan to work on an actual fix together.

[2021-02-15 20:10] vigna commented on #231
I have reported an outstanding out-of-memory error. There are specific instructions to reproduce the problem.

Please close issues when issues are actually closed. Aggressive behavior should be avoided in these discussions.

At present, mergeWithCHA() reproducibly throws an out-of-memory error and kills the JVM. We would be appreciate if you could solve this problem.

[2021-02-15 20:19] proksch commented on #231
I am not going to comment on that, I will leave the judgment of the situation to others.

[2021-02-16 08:08] #233 closed

[2021-02-16 12:21] #230 closed

[2021-02-16 12:22] MihhailSokolov commented on #230
Now GraphMavenResolver uses and returns `ObjectLinkedOpenHashSet` as you suggested. Implemented in cc1c97b

[2021-02-16 13:35] MihhailSokolov commented on #220
Fixed in 3c407b2af6189db4a530c13c25f3e344fa67dc10
Now the missing URIs are skipped.

[2021-02-16 13:35] #220 closed

[2021-02-16 13:41] MihhailSokolov commented on #164
This exception means that this revision is not present in the dependency graph (i.e. is not in the database). What do you think should be an expected behavior in this case?

[2021-02-16 17:27] vigna commented on #230
Great, thanks!

[2021-02-16 17:35] vigna commented on #164
It is difficult to make a choice here.

One possibility is to have a setter/getter for a property of GraphMavenResolver, say, `ignoreMissing`, that decides whether missing dependencies are simply ignored (which might work for a demo) or an exception should be thrown (which might be useful in testing). How does that sound?

In any case, if an exception is thrown it would be useful for the final use

[2021-02-16 17:39] MihhailSokolov commented on #164
Sounds good. I will add a getter and setter to ignore missing artifacts if possible and otherwise throw the exception with better description.

[2021-02-17 11:09] MihhailSokolov commented on #164
@vigna this is now implemented in e6a4c2d
There are now `getIgnoreMissing()` and `setIgnoreMissing(...)` methods to get/set `ignoreMissing` field that is `false` by default.
If set to `true`, it will ignore missing revisions during dependency/dependent resolution and otherwise throw `RuntimeException(...)` with a more descriptive error message.

[2021-02-17 11:09] #164 closed

[2021-02-17 14:14] vigna opened #246 "mergeWithCHA() hides NullPointerExceptions"
In mergeWithCha()'s code, NullPointerExceptions thrown by the loop at lines 237-249 are hidden by the catch immediately afterwards:
[code]

Adding a report of the exception, as in
[code]
shows the following stack trace:
[code]

For example, using the replication path of #231 (in particular, a backward search from commons-lang3) 46 such exception are generated.

The exception interrupts the loop th

[2021-02-17 14:16] vigna commented on #231
The current implementation using `fetchLazy()` has solved the OOM problem. However, the code now on some graphs throws NullPointerExceptions that are hidden by a catch clause as discussed in #246.

[2021-02-17 14:16] #231 closed

[2021-02-17 14:25] michelescarlato commented on #223
Actually, we are writing a prototype that uses a compatibility matrix.

After using an array to store all the licenses used within a project, an algorithm scans its elements, comparing them and matching the value contained inside of the matrix.
The comparison is made for each element against the other elements.

The result is a list containing boolean values.
The algorithm reports each incompatibi

[2021-02-17 19:35] proksch commented on #246
I think you are pointing at a problematic anti-pattern that we should fix as soon as possible.

1) This exception is swallowed.
2) The execution cannot be interrupted anymore (e.g., when rebalancing), because also `InterruptedExceptions` are caught.

I would suggest to break up the catch and use more specific exception types AND to replace or complement the `logger.error` call with a `throw new Ru

[2021-02-17 19:36] proksch commented on #246
@ashkboos , @ilyagrishkov : Could you please look into this?

[2021-02-17 19:38] ilyagrishkov commented on #246
I'll take a look at it tomorrow

[2021-02-18 07:45] vigna commented on #246
I fully agree—this wasn't easy to track down.

That's a good idea for the overall design, but the exception needs to be addressed, too.

If you decide that it is ok for mergeWithCHA() to raise an exception, please specify under which conditions the exception is raised.

We think that the (hidden) exception under consideration is the result of some specific unintended bug in `mergeWithCHA()` that n

[2021-02-18 19:27] ilyagrishkov commented on #246
As rightly pointer out, the exception indeed comes from line 245 when typeMap  doesn't contain a key for a callable (e.g. ID -> FastenURI pair is missing) and it passes it to `resolve(...)` method.
I have completely removed the try-catch that that was "hiding" exceptions from within the `resolve(...)` method and now instead of crashing if typeMap doesn't contain a certain callable I make one more

[2021-02-18 19:50] vigna commented on #246
I think we could coherently follow the current approach in GraphMavenResolver: have a property ignoreMissing that can be set to just ignore missing data (with a best-effort approach) or to throw an exception instead.

[2021-02-18 20:30] ilyagrishkov commented on #246
That makes sense. I have added a try-catch  inside the loop in cabeefe. It is catching RuntimeExceptions after an attempt to retrieve it from the database was made and in case ignoreMissing is set to false throws it, or else continues to the next arc. All the changes are on develop

[2021-02-19 15:41] MagielBruntink opened #247 "POM Analyzer cannot be started with --local-storage"
## Describe the bug
Starting POM Analyzer with --local-storage results in error message that POD_INSTANCE_ID is not set, even if it is.

## Logs
[code]
## Environment (please complete the following information):
 - OS: Docker
 - Java version: 11

[2021-02-20 16:00] MagielBruntink commented on #247
This turned out to be a configuration error on my end.

[2021-02-20 16:00] #247 closed

[2021-02-25 11:25] tmortagne opened #248 "The format of the signature in the eu.fasten.core.data.JavaNode is very strange"
It looks like `method()/some.package/ReturnType` while I would have expected something closer to what we usually see in Java like "some.package.method()" or "some.package#method()".

That being said it feels wrong to store this full String instead of separated elements which are only merged when you call `getSignature()` for example. That way it's a lot easier to create whatever format you want an

[2021-02-25 13:39] mir-am opened #249 "Add custom exceptions to the vulnerability consumer plugin"
We need to define custom exceptions for the vulnerability consumer. Therefore, we would be able to analyze the consumer's precision and performance better. The custom exceptions will go to the `fasten.vulnerability.err` Kafka topic by the FASTEN server.

I would like to propose the following custom exceptions:
- `EcosystemNotExist`: for vulnerability statements that do not contain a package inform

[2021-03-01 23:12] romatallinn commented on #227
@ashkboos @proksch I'm still wandering around not able to do anything with the issue.

I see that it takes indeed quite a lot of time to stitch the graphs. I'm not able to say, however, if the problem is in the input or the stitching algorithm. I desperately need help.

Moreover, note the second screenshot; the line `Created depSet (0), depIds (0), vulnerableDependencies (0)`. It indicates that th

[2021-03-03 14:54] proksch commented on #227
@MihhailSokolov Do you have any input on that? Is this an artifact of your optimized dependency resolution? Do you have an idea why stitching of an empty depset would still take more than 2min?

[2021-03-04 14:49] cg122 opened #252 "Order matters when stitching call graphs with LocalMerger"
## Order matters when stitching call graphs with LocalMerger.mergeAllDeps

The order that adds dependency call graphs to local merger has impact of stitching result.

## To Reproduce
See test case [mergeAllDepsOrderMattersTest()](https://github.com/fasten-project/fasten/blob/7737cdb551b700475f78ae1958503eb65121bf65/core/src/test/java/eu/fasten/core/merge/LocalMergerTest.java#L65) in LocalMergerTes

[2021-03-04 15:09] cg122 commented on #252
It seems also the case for fasten-maven-plugin @tmortagne .

[2021-03-10 09:19] MagielBruntink opened #253 "REST API metadata/callables endpoint returns empty response for some callables that do exist in the DB"
## Describe the bug
For some callables the REST API endpoint metadata/callables returns an empty result, as if the callables do not exist in the DB. We verified that indeed they are present in the DB (see below). In some test runs with large numbers of callables, this occurs in about 40-50% of the cases, leading to a large reduction in functionality in for instance the Maven Plugin, which relies o

[2021-03-10 09:32] tmortagne commented on #253
Note that the Maven plugin does not request all metadata, but only those listed by the various analyzers (through `RiskAnalyzer#getMetadatas()`), so maybe that's your issue ?

[2021-03-10 09:39] MagielBruntink commented on #253
No, that's not the issue. Also in the examples above the allAttributes=true parameter is set, still the result is totally empty for the Synchronized$SynchronizedList.set example, and many others. In case the requested metadata attributes are empty, the result should be:
`{"fasten://mvn!com.google.guava:guava$24.1-jre/com.google.common.collect/Synchronized$SynchronizedList.set(%2Fjava.lang%2FIntege

[2021-03-10 10:39] MagielBruntink commented on #253
@MihhailSokolov I think the problem is here: https://github.com/fasten-project/fasten/blob/5fa7ae43794d8df6311898b65b39c3b3a5f65981/analyzer/restapi-plugin/src/main/java/eu/fasten/analyzer/restapiplugin/mvn/api/impl/StitchingApiServiceImpl.java#L81 where the full FASTEN URI is split on "$", which is an error because the "$" also appears later as separator for inner classes, for example in the prob

[2021-03-10 10:44] tmortagne commented on #253
OK I must have read your first post too quickly.

[2021-03-10 15:21] #253 closed

[2021-03-10 15:43] MihhailSokolov commented on #253
@MagielBruntink Turns out the problem was in parsing the full FASTEN URI in `FastenUriUtils.parseFullFastenUri(...)`. I fixed it in 66e6b71
Your request now returns the proper result:
[code]

[2021-03-10 16:08] MagielBruntink commented on #253
Thank you @MihhailSokolov for the quick fix! I can confirm that the endpoint is now working properly and the meta data are flowing :-) Cheers!

[2021-03-11 08:12] MagielBruntink commented on #196
Seems fixed since 2ef621844b8d15c172496a4f0ba6e645aa5b7723, closing for now.

[2021-03-11 08:12] #196 closed

[2021-03-11 14:09] tmortagne opened #254 "Getting a NullPointerException in LocalMerger#resolve used through LocalMerger#mergeWithCHA"
# To reproduce

Execute the unit test https://github.com/fasten-project/fasten-maven-plugin/blob/1004642bca7e7666693c8fe50951dc678135fb63/src/test/java/eu/fasten/maven/CheckMojoTest.java#L194.

You will get the following stack trace:

[code]

[2021-03-12 09:41] cg122 commented on #252
For the new version of call graph generated, order issue still holds. It can be reproduced with newly generated call graphs in the same test case.

[2021-03-18 20:07] ashkboos commented on #252
@cg122 this should be fixed in PR #255. Also, note that ERCGs are mutable objects so you can only merge them once. For example, in your test, you need to load them twice from a file or somehow do a deep copy of them if you need to merge twice.

[2021-03-18 20:43] MagielBruntink opened #256 "Kafka max request size is still too small"
The MetadataDBExtension (and maybe other) plugins need a larger max.request.size setting, and then I think it will successfully process fastutil. I suggest we set it to 200 MB.

[code]

[2021-03-19 08:24] wzorgdrager commented on #256
@MagielBruntink The Kafka limit is now set to 50MB and updating this requires all brokers to be restarted. I will resolve this at the beginning of next week!

[2021-03-19 09:58] proksch commented on #256
Would it be possible to use the same "trick" that we use for the call-graph generation and serialize the expensive part of the payload to the file system?

[2021-03-19 10:10] MagielBruntink commented on #256
I think this message appears because the call graph is indeed send as a Kafka message from the Metadata DB Extension to the Graph DB Extension. It would indeed be better to use the file system JSON of the call graph, if possible.

[2021-03-23 10:09] #252 closed

[2021-03-23 10:11] MagielBruntink opened #257 "JavaCgOpal generates warnings "couldn't find the stmt""
For many artifacts, JavaCgOpal generates warnings during call graph construction. I'm not sure if they are problematic. In particular for larger artifacts, many warnings are generated.

Example:
[code]

[2021-03-25 15:46] elanzini opened #259 "Include first_patched_purls field in vulnerability statements"
The `vulnerability-consumer` should include the `first_patched_purls` field to the output vulnerability statements.

[2021-03-26 11:21] cg122 opened #260 "FastenUriUtils parsing incorrectly the "class", "method" for some cases with lambda function."
## Describe the bug
A clear and concise description of what the bug is.

## To Reproduce

Parsing the partial uri in the following FASTEN uri

fasten://mvn!nl.tudelft.jpacman:jpacman-framework$8.1.1/nl.tudelft.jpacman.ui/PacManUiBuilder$addStopButton%28Lnl$tudelft$jpacman$game$Game%3A%29V%3A30$Lambda.$newInstance(%2Fnl.tudelft.jpacman.game%2FGame)PacManUiBuilder$addStopButton%28Lnl$tudelft$jpacman

[2021-03-26 15:02] marcomicera opened #262 "NullPointerException in server Pod"
## Describe the bug
The Fasten server Pod exits with error code 1 due to a NullPointerException (see the logs below).

## To Reproduce
Steps to reproduce the behavior:
1. All the steps of [this paragraph](https://github.com/fasten-project/fasten/wiki/Building-FASTEN-Docker-images#using-github-packages-to-pull-fasten-images), i.e.:
[code]

## Expected behavior
I guess the Pod's container should exi

[2021-03-29 13:05] marcomicera commented on #221
Not needed anymore. Closing...

[2021-03-29 13:05] #221 closed

[2021-03-29 15:31] michelescarlato commented on #223
The repo [LCV-CM](https://github.com/endocode/LCV-CM) contains the Python logic of the License Compliance Verifier (LCV) and the Compatibility Matrix (CM), which is partially fulfilled.

Apart from being run from the command line, LCV can be run as a containerized service that provides REST APIs.
@wzorgdrager @MagielBruntink, it would be great if the Fasten architecture could run the LCVServer con

[2021-03-30 07:17] marcomicera commented on #222
As @proksch, @wzorgdrager and I discussed on Friday, I'll be trying to wrap everything in one single Pod (for cleanup purposes) that runs to completion (unfortunately that's how the project behind this plugin works). Assigning a [static membership](https://kafka.apache.org/27/documentation/#static_membership) to such a consumer group shouldn't trigger rebalance.

Closing: will reopen if this solut

[2021-03-30 07:17] #222 closed

[2021-03-30 07:19] marcomicera commented on #223
Just a small remark (architecture-side) - maybe this is what you meant?

![LCV-Kafka](https://user-images.githubusercontent.com/13918587/112947791-8b3a1380-9137-11eb-96a8-2f9a2ad14543.png)

We need to do that: if you want to keep the license compliance logic into a separate container, that we'll need to wrap everything into one Pod (for cleanup purposes) and to assign a [static membership](https:/

[2021-03-30 07:20] marcomicera commented on #224
Will be part of https://github.com/fasten-project/fasten/pull/48. Closing...

[2021-03-30 07:20] #224 closed

[2021-03-30 07:32] michelescarlato commented on #223
@marcomicera, what I wanted to mean, is expressed in my diagram.

If the `LCVServer` container cannot stay always-alive, I have to think differently about the whole architecture.

But if you already have a clear idea of running in one Pod the java plugin, together with the `LCVServer`, I am open to understanding it.

I wanted to avoid the kill the container for each execution, and eventually, I wo

[2021-03-30 07:41] marcomicera commented on #223
Oops, you're right, I got mixed up: you can completely ignore my previous lines about static membership. I'll cross 'em out just in case!

As far as Kubernetes objects are concerned, I think my notes on that diagram are still correct, aren't they?

[2021-03-30 07:55] michelescarlato commented on #223
My idea was to run the LCVContainer outside of the JAR plugin.
Completely detached.
Probably is a wrong idea.

[2021-03-30 08:09] marcomicera commented on #223
AFAIK the blue container should have:
- the Fasten server JAR that - as soon as it receives a [`fasten.qmstr.out` record](https://github.com/fasten-project/fasten/wiki/Kafka-Topics#fastenqmstr) will trigger the...
- ...LCV JAR, that is in charge of:
    1. contacting the Fasten REST API to retrieve licenses,
    2. trigger the license compliance verifier (the green container) through its internal

[2021-03-30 08:26] michelescarlato commented on #223
Nope.
As my diagram shows since the beginning, the blue container will do both calls, the Fasten API, and then call the LCV API.
It is also in charge of the store the results into the KB.

The LCV is not a Jar; it should be used as a server run as a container.

[2021-03-30 09:14] marcomicera commented on #223
It's my understanding that - in this case - the LCV is not a unique entity. I'll try to explain why down below.

The blue container has two JARs: the first one is the [Fasten server](https://github.com/fasten-project/fasten/blob/e89d52b4881a010da4f38f4033fa1a94e31937e0/server/pom.xml#L29-L71), which essentially (I might oversimplify) triggers the execution of other JARs upon receiving some Kafka r

[2021-04-01 13:50] #259 closed

[2021-04-02 09:39] tmortagne commented on #254
It seems the real trigger behind this issue is to use serialized call graphs coming from the lima server (since that's where https://api.fasten-project.eu/mvn/a/asm/asm_org.ow2.asm_7.0.json is connected to right now) so serialize a long time ago. I don't have it if I analyze the JAR locally with OPAL.

I guess the code expect call graph to contain something which did not existed before.

[2021-04-07 06:47] MagielBruntink commented on #254
Does this still occur for you with the latest FASTEN develop version?

[2021-04-07 07:19] MagielBruntink opened #264 "Vulnerability Consumer cannot parse messages coming from Producer"
## Describe the bug
The current version of the Vulnerability Consumer fails to parse messages coming from the current Vulnerability Producer:
[code]

The Vulnerability$Patch class indeeds lacks the patchUrl field:
https://github.com/fasten-project/fasten/blob/fd8e839d7712c428e479583b3e1ce855c10600ba/analyzer/vulnerability-consumer/src/main/java/eu/fasten/analyzer/vulnerabilityconsumer/utils/Vulner

[2021-04-07 07:42] tmortagne commented on #254
Yes, there hasn't been any change on this aspect.

[2021-04-07 07:49] MagielBruntink opened #265 "Make FASTEN API URL a user configurable option in Vulnerability Producer"
## Is your feature request related to a problem? Please describe.
The FASTEN API URL is hard coded in the Vulnerability Producer, which prevents the lazy ingest functionality to work correctly on other deployments than on the main FASTEN server. This also hampers testing.

https://github.com/fasten-project/fasten/blob/c80491e85e335eb3afc5de02d0f2fe621f081b1c/analyzer/vulnerability-consumer/src/mai

[2021-04-08 07:39] MagielBruntink opened #267 "504 Gateway Timeout errors on the /metadata/callables endpoint usage"
## Describe the bug
Requesting metadata through the /metadata/callables endpoint often (most always) returns a 504 Gateway Timeout error.

## To Reproduce
The following example sometimes causes the issue already, with just 1 URI.
[code]
The second example requests metadata for 69 uris, it always causes the issue.
[code]

Often returns:
[code]

## Expected behavior
Code 200, JSON object describing

[2021-04-08 12:11] MihhailSokolov commented on #267
@MagielBruntink From the first look it seems that the timeout is caused by the database.
The first request did not cause a timeout for me. However, the second did, and judging by the logs the problem is in the database performance.
I will look into how can we optimize it, but for now I would recommend you try requesting metadata for URIs in small batches. For example, if you send only the first 10

[2021-04-09 05:01] #264 closed

[2021-04-09 07:21] gousiosg commented on #267
@MihhailSokolov While executing the second query, I 've noticed 3 things:

1. the generated query looks like this: `select * from callables join... where (digest(callables.fasten_uri, 'sha1') in (digest($3, 'sha1'), digest($4, 'sha1'))`. I am not sure whether Postgres can use an index for the `in` operator. The query could be rewritten as list of `or` conditions `digest(callables.fasten_uri, 'sha1

[2021-04-09 08:01] gousiosg commented on #267
@MihhailSokolov While executing the second query, I 've noticed 2 things:

1. the generated query looks like this: `select * from callables join... where (digest(callables.fasten_uri, 'sha1') in (digest($3, 'sha1'), digest($4, 'sha1'))`. I am not sure whether Postgres can use an index on for the `in` operator. The query could be easily rewritten as list of or conditions `digest(callables.fasten_ur

[2021-04-09 08:02] gousiosg commented on #267
Closed by mistake, reopening.

[2021-04-09 12:00] MihhailSokolov commented on #267
@gousiosg
1. Thanks, I will change the query.
2. We do have an index on `digest(callables.fasten_uri, 'sha1')` on lima. See:
[code]
3. Spring Boot does use some multi-threading, but I will see if we can improve that.

[2021-04-09 13:54] MihhailSokolov commented on #267
@gousiosg I updated the query as you suggested and the index on `digest(callables.fasten_uri, 'sha1')` seems to be in place, however, the performance is still pretty bad. REST API logs say that the query to get metadata for 10 URIs took 75 seconds to execute. Any ideas why?

[2021-04-09 15:00] gousiosg commented on #267
You are right about the index, my client connected to `faster_test` by default.

After experimenting a bit, I discovered that not using the digest index is much faster than actually doing it. I think the reason is that a single digest may point to multiple records in `callables`, in some popular cases like `guava` to 10000s; Postgres needs to create an intermediate join table (which is spilled to

[2021-04-09 15:41] MihhailSokolov commented on #267
@MagielBruntink I changed the implementation not to use hashing on callables, and now the request you provided with 69 URIs returns almost instantaneously. Play around with it and let me know if you encounter any more issues with this. Otherwise, I think the issue is resolved.
Thanks a lot @gousiosg

[2021-04-09 17:14] MagielBruntink commented on #267
Tried a few big queries, also with 7000 URIs and they all complete quickly and without issue. Nice work!

[2021-04-09 17:14] #267 closed

[2021-04-13 10:19] marcomicera opened #270 "Python package metadata & callables endpoints"
D.27 aims to integrate FASTEN with the default package manager for Python, PyPI.
The [Maven plugin](https://github.com/fasten-project/fasten-maven-plugin) currently interrogates the REST API for those projects that have already been released (e.g., [here](https://github.com/fasten-project/fasten-maven-plugin/blob/2582e895bbdb0cea1aed7a46baf83d843dae259d/src/main/java/eu/fasten/maven/CheckMojo.java

[2021-04-13 10:27] MihhailSokolov commented on #270
Yes, regarding the REST API, everything for Python and C is still to be implemented.

[2021-04-13 10:38] marcomicera commented on #270
@MihhailSokolov is there a timeline regarding its completion? @amphioxis would need such endpoints, so he could implement them on his own if it's ok.

[2021-04-13 11:08] MihhailSokolov commented on #270
It is quite hard to say at the moment. Currently, we are focusing on deliverables and other things. However, most likely in a couple of weeks I will start working on this. So my (very) rough estimate of completion is that the Python endpoints will be working in a month.

[2021-04-13 12:36] marcomicera commented on #270
Sure, I understand. @proksch can I please ask you to create a user for @amphioxis (martin.pauling@endocode.com) on the Monster server, so that he could start implementing the Python endpoints he needs? Thank you! I guess a read-only PostgreSQL user for the `fasten_python` database should be enough.

Also, I guess there would be a bit of refactoring to be done at the beginning (e.g., [this folder](

[2021-04-13 14:23] proksch commented on #270
Please contact Wouter for that. He will also need the SSH key.

[2021-04-14 18:13] MagielBruntink commented on #265
@wzorgdrager @elanzini @mir-am What do you guys think is a good approach here? A plugin such as the VulnerabilityConsumer could need at least a user config for the API url. Environment variable? Or some plugin-specific properties file? Or adding it to the (already long) list of server command line parameters?

[2021-04-14 19:33] elanzini commented on #265
Well, the fact that we are running the consumer using the `fasten-server` makes it a bit harder to add this configuration. A quick solution would be to add it as an environmental variable and have the consumer look for it before defaulting to the `https://api.fasten.eu/api/`.

[2021-04-20 19:42] elanzini opened #272 "Include Pending Vulnerability Statements in the Vulnerability Consumer Injection Pipeline"
The calls to the `lazy` ingestion made by the `vulnerability-consumer` are not well-handled by the current pipeline, which just proceeds with the rest of the statements to ingest. The idea is to include a `fasten.vulnerability.pending.out` kafka topic where those can be funnelled and later ingested once the package versions have been lazily ingested.

[2021-04-22 11:28] marcomicera opened #273 "REST server crashes with NullPointerException"
## Describe the bug

Upon building and launching the REST server, it crashes with a `NullPointerException`.

## To Reproduce

Steps to reproduce the behavior:

1. Install the required projects:
[code]
1. Start the REST server:
[code]

## Expected behavior

The REST server should start accepting HTTP requests.

## Logs

<details>
<summary>Click to expand</summary>

[code]
</details>

## Environment

[2021-04-22 12:03] MihhailSokolov commented on #273
Judging by the logs, it looks like the problem is that the location for the dependency graph is not properly specified. In the `application.properties` you should either specify the actual values for the attributes when you run it locally or you should pass those values as the arguments.
For the first option, here is the `application.properties` file I use when running REST API locally:
[code]

Fo

[2021-04-22 13:21] amphioxis commented on #273
Running exactly that file, recompile everything with ```mvn clean install -Dmaven.test.skip=true --projects core --also-make && PGPASSWORD=... mvn clean install -Dmaven.test.skip=true spring-boot:run -f analyzer/restapi-plugin/pom.xml```

results in another error:

[code]

[2021-04-22 13:52] MihhailSokolov commented on #273
Well, that's because you don't have a graph database set up locally (at least at that certain location).
For the graph database, we use RocksDB, so it does not require any additional installation. I think creating that `graphDB` folder should do it.
You will most likely run into a similar problem with the dependency graph as you probably don't have it locally too. The `../depgraph/mvn_dep_graph` a

[2021-04-23 08:45] romatallinn commented on #260
@cg122 I adjusted implementation towards the better way. It returns `PacManUiBuilder` as the class, but `newInstance` as the method. However, it is more of an "ideological problem" which of two to return (`newInstance` or `addStopButton `).

@ashkboos will contact you to know some context behind it. Do you think there might be different scenarios when both of them are needed? In this case, we need

[2021-04-23 08:58] cg122 commented on #260
Thanks @romatallinn. I will look at it and see how it works for other example.

[2021-04-26 07:29] cg122 commented on #260
I checked the source code corresponding to the FASTEN uri above:
[code]
I guess the uri corresponds to 'Game::stop', and the simplified form of passing method reference used here  complicates the understanding of the uri.

[2021-04-26 10:14] amphioxis commented on #273
Right now I am running into an ```Connection to node -1 (localhost/127.0.0.1:9092) could not be established. Broker may not be available.``` error. caused by Kafka NetworkClient.
I also changed the user to fasten and used his password, as I don't have access to the password for the postgres user. My file looks like this right now:

[code]

[2021-04-26 10:18] MihhailSokolov commented on #273
Do you have Apache Kafka installed and running? Looks like the REST API cannot connect to Kafka

[2021-04-26 10:45] marcomicera commented on #273
Just wondering: why does the REST server need to connect to Kafka? Are there any new endpoints that trigger other components?

[2021-04-26 11:01] MihhailSokolov commented on #273
Yes, about 2 months ago I added a [lazy ingestion system](https://github.com/fasten-project/fasten/wiki/API-endpoints-for-Maven-projects#lazy-ingestion) - when a client requests a package version that is not in the database, this package version's Maven coordinates (if they are valid and haven't been ingested yet) are written to the input Kafka topic for our processing pipeline, thus after a bit o

[2021-04-26 13:53] marcomicera commented on #273
Ok, I understand. I guess @amphioxis doesn't need these endpoints as he just needs to extend the REST API for Python packages. What about creating an option/flag/whatever that prevents these endpoints to be created, so that he won't need to spawn a Kafka instance locally, and so on? This could be a hidden dev option somewhere... how does it sound?

[2021-04-26 13:59] MihhailSokolov commented on #273
I guess then we would have to run two separate instances of the REST API (one with Kafka connection and one without). Connection to Kafka is established during startup (same way as connection to the database), so I am not sure it is possible to enable it only for some of the endpoints.

[2021-04-26 14:54] marcomicera commented on #273
No my idea is to disable that part only during development (@amphioxis could be using a completely separate Kafka instance), and then we wouldn't disable that part in prod. I was just wondering whether he could push this "disable lazy ingestion endpoints" flag, setting its default value to `false`.

[2021-04-26 15:33] MihhailSokolov commented on #273
Yes, it is possible to add this kind of flag. However, I think it would make more sense to keep it as it is. Python endpoints can make use of lazy ingestion as well because all the infrastructure for it is ready. The partners are quite actively using lazy ingestion for Java, so it would be handy to have it for Python too. Plus, just installing Kafka seems more logical than adding some flag that wi

[2021-04-28 12:58] tmortagne commented on #254
So I debugged this a little more and the root cause of this nullpointer seems to be that in https://api.fasten-project.eu/mvn/a/asm/asm_org.ow2.asm_7.0.json `externalCalls` contains a "126" -> "126" call but "126" actually correspond to `org.objectweb.asm.SymbolTable#SymbolTable(ClassWriter)` constructor which is an internal method, so we end up with the following code:

[code]

which leads to:

[

[2021-04-30 06:09] #238 closed

[2021-04-30 06:49] #239 closed

[2021-05-06 15:57] romatallinn opened #275 "Cache graph merger results for easily accessible vulnerable paths"
## Is your feature request related to a problem? Please describe.
The current implementation of the merger takes long time to merge graphs. It does not provide an accessible option to request vulnerable paths to be shown on frontend.

## Describe the solution you'd like
Implement two additional plugins:
1) Merger Cache Invalidation;
2) Merger Cache Processor.

### Merger Cache Invalidation
The plu

[2021-05-12 10:31] marcomicera commented on #273
Sorry for the late reply! Yes, I understand.
I guess the only service that @amphioxis is missing in order to set everything up is the graph database (he already has access to the PostgreSQL database): can we have access to it?
In our docker-compose deployment repository is only see a `fasten-graph-db-extension-java` service, which, I guess, it's just an extension...

Also, are there any other serv

[2021-05-12 10:46] MihhailSokolov commented on #273
Yes, you should have access to the graph database. Graph db is just a binary key-value store, so everything is stored in files on Monster. It is located in `/mnt/fasten/graphdb`. I am not sure what your docker-compose `fasten-graph-db-extension-java` does, but I would assume it creates a local instance of the graph db in the specified directory and writes there data received (using Kafka) from met

[2021-05-25 12:04] MagielBruntink opened #277 "REST API endpoints resolve/dependencies and resolve/dependents do not work"
## Describe the bug
The REST API endpoints resolve/dependencies and resolve/dependents generate error pages instead of the expected output.

This problem currently impedes our integration work of FASTEN into industrial use cases.

## To Reproduce
Steps to reproduce the behavior:
1. https://api.fasten-project.eu/api/mvn/packages/org.springframework.cloud.stream.app:geode-sink-kafka/3.0.0/resolve/de

[2021-05-25 17:26] MihhailSokolov commented on #277
I will look into this first thing tomorrow. Thanks for reporting!

[2021-05-26 09:53] amphioxis commented on #270
@MihhailSokolov Hey Mihhail, I am trying to feed the python database of the [docker project](https://github.com/fasten-project/fasten-docker-deployment) but I think I need a different command for the kafka `$ cat test-resources/mvn.coords.txt | docker-compose exec -T kafka kafka-console-producer.sh --broker-list kafka:19092 --topic fasten.mvn.releases --property 'parse.key=true' --property 'key.se

[2021-05-26 11:01] MihhailSokolov commented on #270
Hi @amphioxis
The topic name depends on the topic from which the first plugin in the pipeline consumes. In our case it is `fasten.mvn.ingest`.
The command I usually use is taken from [here](https://github.com/fasten-project/fasten/tree/master/dataset#datasets) - `kafka-console-producer --broker-list localhost:9092 --topic fasten.mvn.ingest < mvn.dataset.txt`

[2021-05-26 13:42] marcomicera commented on #270
Is there an equivalent for Python? I can only see these [two input topics for Maven](https://github.com/fasten-project/fasten/wiki/Kafka-Topics#input-topics) in the Wiki. In our docker-compose `python` profile I don't see an equivalent of the POM analyzer plugin, nor an equivalent of the repo cloner. Am I missing something?

[2021-05-26 14:52] MihhailSokolov commented on #270
You should consult @vitsalis regarding the Python pipeline. I think he is the one who created it

[2021-05-26 16:29] MihhailSokolov commented on #277
@MagielBruntink It is working now

[2021-05-26 18:05] MihhailSokolov commented on #277
@MagielBruntink Good point. I added [this subsection](https://github.com/fasten-project/fasten/wiki/Resolution-and-Stitching#updating-dependency-graph-on-monster) which contains commands for updating dependency graph

[2021-05-26 21:08] MagielBruntink opened #280 "FastenUriUtils.parsePartialFastenUri fails to parse some valid partial URIs"
## Describe the bug
Since some recent changes the method FastenUriUtils.parsePartialFastenUri throws unexpected errors on some valid partial URIs, such as:
- `/nl.tudelft.jpacman.level/CollisionInteractionMap$InverseCollisionHandler.%3Cinit%3E(CollisionInteractionMap$CollisionHandler)%2Fjava.lang%2FVoidType`
- `/com.google.common.collect/ImmutableList.construct(%2Fjava.lang%2FObject%5B%5D)Immutabl

[2021-05-27 11:17] MagielBruntink commented on #277
@MihhailSokolov Thank you for the documentation. I ran the commands to update on our local deployment. Surprisingly, the updated dep_graph.nodes and dep_graph.edges is a lot smaller than the files that already existed. Is this expected? Also, how did the dep_graph.nodes and dep_graph.edges files get there in the first place? What other process generates them?

[2021-05-27 11:25] MihhailSokolov commented on #277
They are smaller because your local database is smaller. The dependency graph is generated by traversing `packages`, `package_versions` and `dependencies` tables in the local database (`localhost:5432`), making all artifacts into Nodes and creating edges to all relevant dependency versions. So basically, dependency graph is a copy of the database with some additional dependency edges. Then the nod

[2021-05-27 11:54] MagielBruntink commented on #277
@MihhailSokolov I meant: smaller than the .nodes and .edges files that were there for the local database. These files are being created by some other process too, it must be, because I never ran the manual update myself before.

[2021-05-27 12:08] MihhailSokolov commented on #277
Ah, I see. The files are also created by the same process when using the REST API for the first time in case they are missing. What is the database name you use? The dependency graph generation process connects to `localhost:5432/fasten_java`. If your deployment uses the same database, then I have no idea why the file sizes are different.

[2021-05-27 12:19] MagielBruntink commented on #277
I think they were generated with some older versions of the REST API service. Did the way these dep graphs are created change recently?

[2021-05-27 12:24] MagielBruntink commented on #277
@MihhailSokolov Is it accurate to say that re-generating the dep graphs can be done by deleting the files and restarting the REST API container?

[2021-05-27 12:28] MihhailSokolov commented on #277
Yes, that should work

[2021-05-27 12:29] #277 closed

[2021-05-27 13:06] MihhailSokolov commented on #277
It is possible but not quite feasible. For large enough databases, generating and serializing the dependency graph can take more than 10 minutes. Therefore, doing so whenever a new artifact is ingested is not a good idea.
My idea is to create a cron job that would periodically (for example once a day) delete old graph and generate a new one.
If you have any suggestions for a better solution, I wou

[2021-06-04 13:23] MagielBruntink commented on #280
@mir-am Who could look into this please, it's a blocker.

[2021-06-10 10:30] romatallinn commented on #280
@MagielBruntink sorry it took quite a lot of time, but the issue seems to be solved. Please check it out.

[2021-06-10 13:04] MagielBruntink commented on #280
Hi @romatallinn,

Thanks for looking into this! I'm sorry to report that I did find other URIs that do not parse. They are all generated by the OPAL/Merger:
[code]
The unexpected error messages are of the form:
[code]

[2021-06-10 13:27] amphioxis commented on #273
Closed since using the [docker-fasten-deployment](https://github.com/fasten-project/fasten-docker-deployment) solved the issue.

[2021-06-10 13:35] romatallinn commented on #280
Good catch. Fixed it. Please try again; close the issue if works fine. Otherwise, please keep sending me the failing URIs. Sorry for the inconvinience. There are quite a lot of combinations, so it's a bit tricky to take into account all of them.

[2021-06-11 08:07] MagielBruntink commented on #280
Ran some tests with bigger code bases, and no more errors for now :-)

[2021-06-11 08:07] #280 closed

[2021-06-11 10:14] amphioxis commented on #270
Closed because the basic endpoints for python are working for the [docker-compose-deployment](https://github.com/fasten-project/fasten-docker-deployment).
To feed the python database check out this [issue](https://github.com/fasten-project/fasten-docker-deployment/issues/4) or just replace ```--topic fasten.mvn.releases``` with ```--topic fasten.PyPI.releases``` .

[2021-06-11 10:14] #270 closed

[2021-06-16 13:36] marcomicera opened #283 "Java license detector does not resolve POM files"
## Describe the bug
Many `pom.xml` files use [properties](https://maven.apache.org/pom.html#Properties) to specify dependency versions.
Consider the following test case having these two properties:

https://github.com/fasten-project/fasten/blob/98143af9b8c5a59c9eef789f12dbf9319258087e/analyzer/license-detector/src/test/resources/dependencies-with-maven-properties/pom.xml#L20-L23

The `<dependency>

[2021-06-17 07:34] marcomicera commented on #283
The license detector doesn't need to retrieve inbound dependency licenses. It should only retrieve:
- The outbound license
- Inbound file licenses discovered by `scancode`

Closing...

[2021-06-17 07:34] #283 closed

[2021-07-09 06:06] #275 closed

[2021-07-09 11:37] marcomicera opened #285 "Remove non-existing `-du` flag from Wiki"
The `-du` flag I saw [in this paragraph](https://github.com/fasten-project/fasten/wiki/Development-Environment#plug-ins-with-db-connection) doesn't exist anymore.
The username is included in the database address now:
https://github.com/fasten-project/fasten/blob/142891de4147f9bb50503b3a3b08727d9be96cfa/server/src/main/java/eu/fasten/server/FastenServer.java#L99-L104

[2021-07-12 13:41] marcomicera opened #286 "Plugin cannot connect to metadata DB"
The [`license-feeder` plugin](https://github.com/fasten-project/fasten/tree/endocode/compliancePlugin/analyzer/license-feeder) needs to connect to the metadata DB in order to store license findings.
It implements the `DBConnector` interface:
https://github.com/fasten-project/fasten/blob/59c39caadfab7ca279439dcdc205a8d4dd9f1e3e/analyzer/license-feeder/src/main/java/eu/fasten/analyzer/licensefeeder/

[2021-07-13 09:23] marcomicera commented on #286
Assigning this to @mir-am because of [this git blame](https://github.com/fasten-project/fasten/blame/b10b8426a40d6b1590a0d66286b569bebfb6a5c5/server/src/main/java/eu/fasten/server/FastenServer.java#L244-L270).

[2021-07-13 11:05] mir-am commented on #286
What command do you exactly use to run the FASTEN server? You can use a dummy name for DB credentials here.
Also, on what server did you run this?

[2021-07-13 11:27] marcomicera commented on #286
I'm using

[code]

in the [`license-detector` branch](https://github.com/fasten-project/fasten-docker-deployment/tree/license-detector) to launch everything.
You won't see the container of the [`license-feeder` plugin](https://github.com/fasten-project/fasten/tree/endocode/compliancePlugin/analyzer/license-feeder) as its CI hasn't built an image yet (integration tests run during the `docker build`

[2021-07-13 11:53] marcomicera commented on #286
[This integration test](https://github.com/fasten-project/fasten/blob/bd2545ad0aed04cd45814510e0cc1ef07d1c00de/analyzer/license-feeder/src/test/java/eu/fasten/analyzer/licensefeeder/LicenseFeederPluginTest.java#L31-L47) passes, meaning that setting the `${FASTEN_DBPASS}` env var and using the right arguments for `PostgresConnector.getDSLContext()` is indeed enough.
I must be doing something wrong

[2021-07-13 12:49] marcomicera commented on #286
I was debugging this integration test, and the argument of this method

https://github.com/fasten-project/fasten/blob/59c39caadfab7ca279439dcdc205a8d4dd9f1e3e/analyzer/license-feeder/src/main/java/eu/fasten/analyzer/licensefeeder/LicenseFeederPlugin.java#L43-L46

Contains one entry `String` -> `org.jooq.impl.DefaultDSLContext`.
Looks like `org.jooq.impl.DefaultDSLContext` is successfully cast `org

[2021-07-14 16:11] mir-am commented on #286
Honestly, I have no idea why it fails in Docker compose. We can discuss this in our dev. call.

[2021-07-15 07:39] marcomicera commented on #286
Rebasing on [`develop`](https://github.com/fasten-project/fasten/tree/develop) as @MagielBruntink suggested...

[2021-07-15 08:11] MagielBruntink opened #288 "REST API needs to be generalized to Python/PyPI and C/Debian"
## Is your feature request related to a problem? Please describe.
The currently available REST API implementation is specific to Java/MVN, partially, and some endpoints fail with eg. PyPI coordinates. Let's use this issue to discuss and come up with the next iteration.

## Describe the solution you'd like
A more generic REST API implementation that will work for all ecosystems within FASTEN, and t

[2021-07-15 08:28] #265 closed

[2021-07-15 08:38] marcomicera commented on #288
I could only provide my initial support by refactoring code & endpoints, i.e., by moving all the common parts out of the `mvn` Java package and by getting rid of the `/mvn/` for all the endpoints.

I remember though I started doing this to help @amphioxis out with his PyPI plugin but there were a lot of connections to external services that were new to me, so I gave up after one day.

Other than t

[2021-07-15 08:40] marcomicera commented on #273
Has this been fixed? Can we close this? @amphioxis

[2021-07-15 13:58] amphioxis commented on #273
I switched to the [fasten-docker-deployment](https://github.com/fasten-project/fasten-docker-deployment) which runs all the requirements like `kafka` and the `graph database` at once without problems. However, the last time I ran the `FASTEN REST` server locally, it crashed with a `java heap space` error while deserializing the Call Graph file I downloaded from the server at `/mnt/fasten/graphdb`.

[2021-07-15 13:58] #273 closed

[2021-07-16 16:08] marcomicera commented on #286
...rebase completed: the error persists 😞

[2021-07-16 16:13] marcomicera commented on #286
https://github.com/fasten-project/fasten-docker-deployment/commit/1ed4086b2791a9a212f1ff24ced2cde319d47920 contains the latest license detector & feeder images.
To replicate:

[code]

[2021-07-16 18:01] MagielBruntink commented on #286
@marcomicera Your issue is fixed by:
https://github.com/fasten-project/fasten/commit/06b630f8928b58c6d74c082b1a547bc92fd1b98e

I updated also the branch at fasten-docker-deployment with the fixed images:
https://github.com/fasten-project/fasten-docker-deployment/tree/license-detector

[2021-07-17 15:11] marcomicera commented on #286
😮 it works, thank you @MagielBruntink! Closing...

[2021-07-17 15:11] #286 closed

[2021-07-18 09:52] marcomicera opened #289 "Update metadata DB schema in Wiki"
The [Metadata DB wiki page](https://github.com/fasten-project/fasten/wiki/Metadata-Database-Schema) contains an outdated image of its schema (e.g., the [`module_names` table](https://github.com/fasten-project/fasten-docker-deployment/blob/05b8f3d83a58555354b918c51e87d55b7573750b/metadata-db/psql_create_tables_java.sql#L54-L58) is missing).

[2021-07-19 09:13] MihhailSokolov commented on #289
Thanks for the reminder @marcomicera!
[It is updated now.](https://github.com/fasten-project/fasten/wiki/Metadata-Database-Schema)

[2021-07-19 09:32] marcomicera commented on #289
Thanks a lot! Closing.

[2021-07-19 09:32] #289 closed

[2021-07-19 14:32] marcomicera opened #290 "Scan licenses with more processes"
Currently the [`license-detector` plugin](https://github.com/fasten-project/fasten/tree/endocode/compliancePlugin/analyzer/license-detector) uses one process to run [`scancode`](https://github.com/nexB/scancode-toolkit):

https://github.com/fasten-project/fasten/blob/06b630f8928b58c6d74c082b1a547bc92fd1b98e/analyzer/license-detector/src/main/java/eu/fasten/analyzer/licensedetector/LicenseDetectorP

[2021-07-21 11:41] marcomicera commented on #290
Done in https://github.com/fasten-project/fasten/commit/9e75e1079b87426a2abc83f437b3d9a44b82ea50.

[2021-07-21 11:41] #290 closed

[2021-07-21 12:13] marcomicera opened #291 "SQL `update` with JOOQ returns correctly updated field but doesn't write into DB"
### TL;DR

1. The [`license-feeder` plugin](https://github.com/fasten-project/fasten/tree/7b932453f98e55f9fece99cadf25ae0f0a2a1b9d/analyzer/license-feeder) inserts outbound licenses into the `package_versions.metadata` field;
2. JOOQ returns the [correctly updated value of such field](https://github.com/fasten-project/fasten/blob/7b932453f98e55f9fece99cadf25ae0f0a2a1b9d/core/src/main/java/eu/faste

[2021-07-21 12:19] marcomicera commented on #291
@MihhailSokolov I see you developed most of the [`MetadataDao` class](https://github.com/fasten-project/fasten/blob/7b932453f98e55f9fece99cadf25ae0f0a2a1b9d/core/src/main/java/eu/fasten/core/data/metadatadb/MetadataDao.java): did this ever happen to you?
This paragraph is enough:

I'm using [`DSLContext.fetchValue(String sql)`](https://www.jooq.org/javadoc/3.14.x/org.jooq/org/jooq/DSLContext.html#

[2021-07-21 12:29] MihhailSokolov commented on #291
@marcomicera I don't think I've come across this issue before. I would suggest that you try updating the metadata field in the same fashion it is done for callables - https://github.com/fasten-project/fasten/blob/c5180d2617193e5e4c0e528017f8b6dd8c91e9e6/core/src/main/java/eu/fasten/core/data/metadatadb/MetadataDao.java#L452

[2021-07-21 12:35] marcomicera commented on #291
Thanks for the immediate reply! I'll try this immediately.
I also didn't use plain SQL queries, but JOOQ was automatically converting my `jsonb` input as a `VARCHAR` when concatenating `||`, causing issues:
https://github.com/fasten-project/fasten/blob/b48bb8583cd7044a9f5869abf163a07c117eafde/core/src/main/java/eu/fasten/core/data/metadatadb/MetadataDao.java#L228-L243
But you don't seem to have th

[2021-07-22 07:44] marcomicera commented on #291
The original [`insertPackageOutboundLicenses()` method](https://github.com/fasten-project/fasten/blob/7b932453f98e55f9fece99cadf25ae0f0a2a1b9d/core/src/main/java/eu/fasten/core/data/metadatadb/MetadataDao.java#L218-L256) writes successfully into the DB when calling it manually from Java:

[code]

That's why tests are passing.
I must be doing something wrong with docker-compose, then...

[2021-07-22 07:45] marcomicera commented on #291
Moving this to its dedicated repo...

[2021-07-22 09:43] amottier opened #293 "MergerEfficiencyTests.localMergerEfficiencyTest test fail"
## Describe the bug
When building the `fasten` project (`mvn clean install` after git checkout of `develop` branch) I get the following error:
[code]

## To Reproduce
Steps to reproduce the behavior:
1. Checkout the `develop` branch
2. Run the build with Maven `3.6.3` and Java `11.0.11` provided by the `openjdk-11-jdk:amd64` Debian Buster package version `11.0.11+9-1~deb10u1` on Linux Debian kerne

[2021-07-23 08:25] MagielBruntink commented on #254
Closing this issue as the merger has been changed a lot.

[2021-07-23 08:25] #254 closed

[2021-07-23 09:13] MagielBruntink commented on #293
I also run into this problem. Locally (Windows 10) I get 50515 nodes in localMergerEfficiencyTest. Thought I would fix it with https://github.com/fasten-project/fasten/commit/ea478f3afaaf67dd3cb7f007b911603fd97eb050 but on CI the node count is 50513...

[2021-07-23 09:17] MagielBruntink commented on #293
50513 nodes on local run on MacOS laptop.

[2021-07-23 14:08] MagielBruntink commented on #288
@MihhailSokolov I believe you implemented most of the Maven endpoints. What would be your suggested approach here? Is it feasible to generalize in some way?

[2021-07-23 14:13] MihhailSokolov commented on #288
Some of the endpoints cannot be really generalized, for example endpoints that involve dependency resolution. But all endpoints that only deal with getting simple data from the database should be fairly simply generalizable.

[2021-07-23 14:27] MagielBruntink commented on #288
Let's discuss the overall setup we envision. It is given that there is a seperate Metadata-DB for each language. The current REST API components connects to a single such database.
1. Do we want to go to the situation where we will deploy a separate REST API container for each ecosystem? Or do we deploy 1 container which decides internally what API to route to?
2. On the code level, do we want to

[2021-07-23 14:30] MagielBruntink commented on #288
Some endpoints in the `mvn` set of classes do not start their URL with `/mvn/` such as `/callables`. In the current deployment they are actually specific to an ecosystem as the code only connects to 1 specific DB. What should we do about those? Add the `/mvn` prefix after all?
https://github.com/fasten-project/fasten/blob/b60ea2f467c490fb8dc0d16feaa333af134359e9/analyzer/restapi-plugin/src/main/ja

[2021-07-23 14:35] MagielBruntink opened #296 "org.tmatesoft.hg4j:hg4j now needs authentication at https://maven.tmatesoft.com, breaking build"
## Describe the bug
Since recently, `org.tmatesoft.hg4j:hg4` needs authentication for access to its Maven repo. This is problematic as it breaks CI and also some tests. I fixed that test, but in Repo Cloner we actually rely on hg4j itself. Maybe this is a temporary problem, otherwise we might need another tool for Hg.

[code]

[2021-07-26 15:04] #296 closed

[2021-07-27 07:58] #200 closed

[2021-07-27 17:05] marcomicera opened #299 "RepoCloner hangs for a couple of mins right at the end of cloning"
It's more a performance thing rather than a bug, as nothing is broken.

On my local machine, the RepoCloner plugin often hangs right at the end of cloning a repo:

[code]

Notice that it spent almost 7 minutes right at the end, between `git< NAK` and the `Successfully cloned the repository` message. It's slowing the pipeline by just a bit.

## Test record

[code]

[2021-07-27 17:07] marcomicera commented on #299
A quick git blame brought me to you, @MihhailSokolov: is it easy to fix? It's not super important.

[2021-07-27 19:00] MihhailSokolov commented on #299
Yep, I noticed this problem from time to time. I don't really know what causes it. Will try to investigate it when I have time. Thanks @marcomicera

[2021-07-28 12:38] marcomicera opened #300 "Multi-topic subscription"
https://github.com/fasten-project/fasten/pull/297 aims to extend our license detector to work also for C & Python projects.
Therefore, the `license-detector` plugin would need to subscribe to multiple topics (https://github.com/fasten-project/fasten/pull/297#issuecomment-888264361):

Is there currently a way to let a plugin subscribe to multiple topics?
I don't see such a feature in the [`KafkaPlu

[2021-07-28 13:15] marcomicera commented on #300
My idea would be to use 3 different Flink sync jobs and to make [`KafkaPlugin`](https://github.com/fasten-project/fasten/blob/develop/core/src/main/java/eu/fasten/core/plugins/KafkaPlugin.java) an abstract class rather than an interface, so that we can add a method with a body that essentially does [this](https://stackoverflow.com/a/39569746/3927431).

[2021-07-28 15:50] luxb70 commented on #300
or perhaps, without converting it to an abstract class, we could add a default method to the interface

[2021-07-29 07:37] marcomicera commented on #293
It passes on my local machine as well, macOS 11.0.1, java 11.0.2, Maven 3.6.3.

[2021-07-29 07:49] marcomicera commented on #293
I can replicate this issue in one of my Dockerfile stages I use during development:

https://github.com/fasten-project/fasten/blob/c7701dcfd7305ad204425ab9a036a72896209287/docker/license-detector/Dockerfile#L35

Exactly the same behavior.

Base image is:

https://github.com/fasten-project/fasten/blob/c7701dcfd7305ad204425ab9a036a72896209287/docker/license-detector/Dockerfile#L22

[2021-07-29 08:06] ashkboos commented on #293
Passes locally: Apache Maven 3.6.2, Java version: 11.0.9.1, "mac os x" version: "10.15.7"

[2021-07-29 09:14] marcomicera commented on #300
@luxb70 can you do this? Adding that method shouldn't be a big deal, it's more a matter of testing whether that actually works, and that it doesn't break anything, etc.

[2021-07-29 10:06] amottier commented on #293
I run again the build locally on my computer with Java `11.0.11` and Maven `3.6.2` and still reproduce the issue.

@marcomicera replicate on Docker image `maven:3.8.1-jdk-11-slim`. This image is based on `openjdk:11-jdk-slim` that is actually based on Debian Buster image with Java version `11.0.12` (see https://github.com/docker-library/openjdk/blob/6c18f690c35e42950119a92d2edd854a869745c5/11/jdk/

[2021-07-30 11:16] marcomicera commented on #293
It [fails in the CI](https://github.com/fasten-project/fasten/runs/3201289122?check_suite_focus=true) too... what a bummer 😞

[2021-07-30 15:31] marcomicera commented on #293
I rebased on top of [`develop`](https://github.com/fasten-project/fasten/tree/develop) and [it still fails](https://github.com/fasten-project/fasten/runs/3203339658?check_suite_focus=true).

[2021-08-02 09:59] marcomicera commented on #293
I'll temporarily disable this test in my plugin's GitHub Actions workflow as a workaround, I need the CI to build images. I'll make sure I'll include a `FIXME` comment there so I won't lose it!

[2021-08-09 10:18] romatallinn commented on #293
_**From weekly meeting:**_

Server's JDK version:
[code]

It can be a good try to use the same version locally, run the test and see if it is the issue.

[2021-08-09 12:54] amottier commented on #293
I reproduce the issue with:
[code]
running locally on my computer. I attached the build [log](https://github.com/fasten-project/fasten/files/6954678/log-clean-install-root-develop-mvn-3.8.1-openjdk-11.0.12%2B7-202108091448.log)
.

[2021-08-10 09:06] MihhailSokolov commented on #299
Hey @marcomicera
I wasn't really able to reproduce the issue locally. When I run it, it hangs only for a few seconds at the end, not a few minutes as in your case.
[code]
My guess is that it uses a lot of RAM and starts to hang when there is not enough heap space. I would suggest you try to increase the heap space and see if the problem persists.

[2021-08-10 09:13] marcomicera commented on #299
I think you're right, I'm not even experiencing a delay in my dev k8s cluster. This might be a bummer only for those who still need to develop on docker-compose...

[2021-08-11 07:43] #201 closed

[2021-08-11 07:43] MihhailSokolov commented on #201
This is already implemented

[2021-08-25 23:16] romatallinn opened #302 "Inconsistent versioning between dependent and its dependency"
## Describe the bug

Sometimes resolve dependents and resolve dependencies on artifact and its resulted dependent may result in inconsistent package versions.

For example,

- **A version a** depends on **B version b**;
- When we resolve dependents of **B version b**, we get **A version a**;
- But when we resolve dependencies of **A version a**, we get **B version c**, while we expect it to be **B

[2021-08-25 23:34] romatallinn opened #303 "Graph resolver doesn't resolve dependencies transitively"
## Describe the bug
There is a utility method of Graph Resolver that resolves dependencies. It accepts argument that forces the method to resolve transitive dependencies. It does not in fact retrieves transitive dependencies.

## To Reproduce
Steps to reproduce the behavior:
1. `com.fasterxml.jackson.core:jackson-databind/2.8.11` depends on `junit:junit/4.12` - [CHECK HERE](https://api.fasten-proj

[2021-09-13 12:46] mir-am opened #304 "Remove the hard-coded DB credentials from the Maven Dependency Graph Code"
We should not reveal our DB URL and username in the code!!!

https://github.com/fasten-project/fasten/blob/941d8fc194476d5dcb719a5c5b4c69125e3b77c6/core/src/main/java/eu/fasten/core/maven/DependencyGraphBuilder.java#L52

[2021-09-27 16:34] vigna opened #305 "CGMerger generates again impossibly small graphs"
In the test_merge branch, on monster, try

java eu.fasten.core.search.Test jdbc:postgresql://monster:5432/fasten_java fastenro /mnt/fasten/graphdb resolver.graph

The code tries to stitch the graph with id 9028. The err output is

[code]

Note that the base graph has 9028 nodes, and there are 4152 nodes in the dependencies.

The stitched graph contains only 74 nodes—less than 1% of the nodes of th

[2021-09-28 16:22] ashkboos commented on #305
I looked into your test script, I noticed one problem in this line: https://github.com/fasten-project/fasten/blob/18ed04791784855dddef01d97376a673edf28717/core/src/main/java/eu/fasten/core/search/Test.java#L109
Please call mergeAllDeps() method after you instantiate the CGMerger. Currently, you are only getting the edges of the 9028 excluding the dependencies.

[2021-09-28 16:48] vigna commented on #305
I see. Where is the documentation on how to use this class? CGMerger has zero class documentation.

[2021-09-28 17:05] ashkboos commented on #305
It is here: https://github.com/fasten-project/fasten/wiki/Resolution-and-Stitching

[2021-09-28 17:19] vigna commented on #305
Oh OK. So there was a change of API from the LocalMerger when the two approaches were merged together.

I found this code in the documentation:

[code]

It is very confusing for me because there is a suggested code _in a comment_ invoking a variable _that does not exists_.

Let's see if I can derive the correct code.

It seems the correct sequence to obtain the stitched graph is getting the depend

[2021-09-28 18:48] ashkboos commented on #305
Yes, it was a mistake in the documentation the variable name is `merger` not `databaseMerger`, I fixed it. Thanks for pointing this out.
I also modified the Test.

[2021-09-28 18:59] vigna commented on #305
Now we're getting to the point.

I could not understand how this could possibly work, or have _ever_ worked, because the dependency set does not contain the original graph.

Now that finally you have fixed Test I can see you are adding _manually_ the gid of the revision to the dependency set.

This fundamental fact is nowhere to be found in the "documentation" at https://github.com/fasten-project/